<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://10.46.101.25/RedoxMessageHandler/WaterfallClinicViaRedox.ashx?challenge=xyz</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>INDY-PRMDATA-2</MSDeployServiceURL>
    <!--10.46.101.25-->
    <DeployIisAppPath>RedoxMessageHandler\RedoxMessageHandler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>INDY-PRMDATA-2\Tom.Puckett</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RedoxCacheContextConnectionStringPort5433" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User Id=tom;Password=tom;Host=localhost;Port=5433;Database=redoxcache;Initial Schema=public" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedoxCacheContextConnectionStringPort5433_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=tom;Password=tom;Host=localhost;Port=5433;Database=redoxcache;Initial Schema=public" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedoxCacheContextConnectionStringPort5432" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User Id=tom;Password=tom;Host=localhost;Port=5432;Database=redoxcache;Initial Schema=public" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedoxCacheContextConnectionStringPort5432_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=tom;Password=tom;Host=localhost;Port=5432;Database=redoxcache;Initial Schema=public" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedoxCacheContextConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User Id=tom;Host=indy-prmdata-2;Port=5432;Database=redoxcache;Initial Schema=public" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedoxCacheContextConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=tom;Host=indy-prmdata-2;Port=5432;Database=redoxcache;Initial Schema=public" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedoxCacheContextConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedoxCacheContextConnectionStringPort5432-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedoxCacheContextConnectionStringPort5433-Web.config Connection String" />
  </ItemGroup>
</Project>