
.templatecontent
{
	margin:0px;


    padding: 0px 0px 0px 0px;
    overflow:hidden;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.logincontent
{
	margin:auto;
	width: 800px;
	background-color: White;
	border: #999999 1px solid;
	padding: 1px;
   
}

.content
{
	margin: auto;
	width: 280px;
}

.header
{
	padding-bottom: 10px;
	border-bottom: #ECA920 1px solid;
	margin-bottom: 0px;
}

.header img
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    margin: 10px 10px 0 0;
    width: 291px;
}

body 
{
	font: 11px Tahoma;	
	margin: auto;	
	background-color: white;
	padding: 10px;
    min-width:800px;
}

ul
{	
	margin-top: 2px;	
}

li
{
	padding-left: 0px;	
}

.bodytext
{
	font: 11px Tahoma;	
}

.button, .button:hover,
.okbutton, .okbutton:hover,
.cancelbutton, .cancelbutton:hover
{
	padding: 0px;
	border: 0px;
	margin: 1px;
	width: 92px;
	color: black;
	font-weight: normal;
	height: 26px;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	vertical-align: middle;
}

.button, .okbutton, .cancelbutton
{
	background-image: url(btn.png);	
}

.button:hover, .okbutton:hover, .cancelbutton:hover
{
	background-image: url(btnact.png);
}

.textbox,.password,.dropdown,.listbox
{
	font: 11px Verdana;
	width: 160px;
}

.textbox,.password,.dropdown,.listbox{
    margin-left: 2px;
    background-color: #F7F7F7;
    border:1px solid;
    border-color: #AFD1FF;
}

.textbox:focus,.password:focus,.dropdown:focus{
	background-color: #FFFFFF;
    border-color: #AFD1FF;
}

.checkbox
{
	font: 11px Tahoma;
	color: black;
}

.radio
{
	font: 11px Tahoma;
	color: black;
}

.bodytext
{
	font: 11px Tahoma;	
	color: #000000;	
}

.bodytextb
{
	font: bold 11px Tahoma;
	color: #000000;
}

.bodytexti
{
	font: italic 11px Tahoma;	
	color: #000000;
}

.error-1
{
	font: 12px Tahoma;
	color: #EE8A1E;
	padding-left: 0px;
    vertical-align:middle;
}


#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #F5F5F5; 
  /*background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);*/
  border-bottom: 1px solid #ECA920;
  width: 100%;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #000000;
  font-size: 12px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ECA920;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #000000;
  box-shadow: inset 0 0 3px #d9d9d9;
  -moz-box-shadow: inset 0 0 3px #d9d9d9;
  -webkit-box-shadow: inset 0 0 3px #d9d9d9;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}
#cssmenu > ul > li.noactive > a {
    display: none;
    }
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #ECA920;
  border-bottom: 1px dotted lightgray;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #ECA920;
  opacity:0.75;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #ECA920;
  border-bottom: 1px dotted lightgray;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #ECA920;
  opacity:0.75;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}


/********************CUSTOMIZED*****************/
/*Standard Generic*/
.space{margin-bottom:5px}
.alert{border:1px solid transparent;border-radius:4px!important;margin-bottom:6px!important;padding:4px!important}
.weak{color:#999;font-size:14px}
.labelweak{color:#5f6162;font-size:12px;margin:5px -6px 3px 8px}
.required:after{content:" *";font-weight:700;color:#c1c1c1;font-size:20px;margin:0;float:right}
.textbox-focus{border:2px solid #00C;background:#def}
.roundShadowContainer{background:#fefefe;border:1px solid #c4cddb;padding:0;margin:0 auto;border-top-color:#d3dbde;border-bottom-color:#bfc9dc;box-shadow:0 1px 1px #ccc;border-radius:5px;}
.roundShadowContainer h2{margin:0;padding:10px 0;font-size:18px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer h3{margin:0;padding:10px 0;font-size:16px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer ul,li{margin:0;padding:0;list-style-type:square}
.roundShadowContainer input{border:1px solid #d5d9da;border-radius:5px;box-shadow:0 0 5px #e8e9eb inset;outline:0}
.roundShadowContainer {width:435px;}
.fieldSetWithBorder{border:2px dashed #eee;margin:2px 2px 3px 3px;overflow:hidden;padding:2px;width:217px}
.fieldSetWithBorder legend{font-size:14px;line-height:inherit}
    .first-of-type{margin:4px 3px 4px -2px}
.addBar{font-size:14px;font-weight:700;margin:-1px 36px -3px;overflow:hidden;width:300px}
.ddl{border:2px solid #d5d9da;border-radius:3px;padding:3px;text-indent:.01px;font-size:13px;font-family:Georgia;margin:6px 6px 0 2px}
    /*Password Generic*/
#divPasswordCriteriaContainer{font-size:.8em;}
#divPasswordCriteriaContainer{display:none;padding:6px;position:absolute;width:236px;z-index:2000;}
#divPasswordCriteriaContainer:before{content:"\25B2";position:absolute;top:-10px;left:45%;font-size:14px;line-height:12px;color:#ddd;display:block}
#divPasswordCriteriaContainer h1,h2,h3,h4{margin:0 0 10px;padding:0;font-weight:400}
#divPasswordCriteriaContainer ul,li{list-style-type:circle;margin:4px 3px 4px 4px;padding:2px 1px 3px 9px;width:203px}
.invalidPassword,.validPassword{padding-left:6px;line-height:12px}
.invalidPassword{color:#ec3f41}
.validPassword{color:#3a7d34}
.badMatch{color:#f66}
.dashedSeparator{margin:25px 0;border-bottom:dashed 1px #666}
/*bootstra specifc*/
.container{width:832px}
    td{padding:4px!important}
.form-control{height:30px}
.table{margin-bottom:5px}
.page-header {padding-bottom: 10px;margin: 5px 0 10px;border-bottom: 1px solid #eee;}
/*password hint*/
.PWHsmallContainer{background: #f4f9fb none repeat scroll 0 0;border: 2px dashed #ddd;width: 349px;}     
.PWHshowHideDivHeader{width: 123px;padding:0;margin:4px 8px 9px 1px;cursor:pointer;}
.showPassword{float:right;margin:-25px 13px 0 0}          
.listUL{font-size:12px;list-style-type:square;margin:2px 0 1px 12px;padding:2px 1px 1px 6px;width:312px}
.listLi{font-size:12px;list-style-type:square;margin:3px 0 -2px 32px;padding:2px 1px 1px 6px;width:267px}   
#divPasswordHintCriteria{background:#fefefe none repeat scroll 0 0;border:1px solid #ddd;
                            border-radius:5px;box-shadow:0 1px 3px #ccc;display:none;font-size:.8em;
                            height:161px;padding:6px;position:absolute;width:365px;z-index:2000}
    /*Layout*/
    .containerWrap{text-align:center;padding:15px;background-color: #f5f5f5;width: 100%;}
    .left-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px;vertical-align:top}
    .right-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px}
/* info box*/
.infoBox{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;margin:0 auto!important}
.engravedHeader{color:#333;font: 80px 'LeagueGothicRegular'; text-shadow: 0px 1px 0px rgba(255,255,255,255);}