<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProductName" value="PRM"/>
    <add key="AdminEmail" value="PRM.Operations@Milliman.com" />
    <add key="RepoFilePath" value="D:\InstalledApplications\PRM_Staging_AK\Rules\rules.xml" />
    <add key="MillimanGroupMap" value="D:\InstalledApplications\PRM_Staging_AK\GroupMap\Groups.xml" />
    <add key="QVDocumentRoot" value="D:\InstalledApplications\PRM_Staging\QVDocuments" />
    <add key="ResetUserInfoRoot" value="D:\InstalledApplications\PRM_Staging_AK\ResetUsers" />
    <add key="UserSpecificDownloads" value="D:\InstalledApplications\PRM_Staging_AK\CustomUserDownloads\downloads.xml" />
    <add key="HCIntelCache" value="D:\InstalledApplications\PRM_Staging_AK\Cache" />
    <add key="SmtpServer" value="10.50.4.150" />
    <add key="SmtpPort" value="25" />
    <add key="SendDebugEmail" value="true" />
    <add key="EmailDebugAccount" value="prm.operations@milliman.com"/>
    <!--<add key="EmailFrom" value="prm.support@milliman.com" />-->
    <add key="SupportEmail" value="prm.support@milliman.com" />
    <add key="SupportEmailWelcome" value="Milliman PRM Account Information" />
    <!--<add key="EmailSubject" value="Milliman PRM Password Recovery" />-->
    <!--<add key="EmailBodyFile" value="templates/email.html" />-->
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />
    <!--<add key="SmtpMailPickup" value="D:\InstalledApplications\PRM_Staging_AK\eMailPickup" />-->
    <!--<add key="TrustedMailRelayService" value="" />-->
    <add key="SecureLinkLifeSpan" value="3" />
    <add key="ExternalServerName" value="https://PRM2.Milliman.com" />
    <add key="MaxDocsPerDocumentCAL" value="7" />
    <add key="DocCALCost" value="140.40" />
    <add key="NamedCALCost" value="1000.00" />
    <add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0000EXT01_NewYork_LIVE BPCI - Premier~0000EXT01_NewYork_LIVE BPCI - USPI~0000EXT01_NewYork_LIVE BPCI - CAM" />
    <add key="QVLogDirectory" value="D:\InstalledApplications\PRM_Staging_AK\FULLBackups_Logs\QVLogs" />
    <add key="ShowLoginsForLastXDays" value="60" />
    <add key="SuperGroupFilePath" value="D:\InstalledApplications\PRM_Staging_AK\SuperGroups\SuperGroups.xml" />
    <add key="Telerik.Skin" value="Office2010Silver" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="dbMyCMSConnectionString" connectionString="Server=.\SQLExpress;Database=PortalDB_AK;Trusted_Connection=Yes;User Instance=False;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/UnspecifiedError.html" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <profile defaultProvider="MyCMSTableProfileProvider" automaticSaveEnabled="false" enabled="true">
      <providers>
        <clear />
        <add name="MyCMSTableProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" table="aspnet_CustomProfile" type="CustomProfile.SqlTableProfileProvider" />
        <add name="MyCMSStoredProcedureProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" type="CustomProfile.SqlStoredProcedureProfileProvider" setProcedure="sp_wsat_SetCustomProfileData" readProcedure="sp_wsat_GetCustomProfileData" />
      </providers>
      <properties>
        <group name="Personal">
          <add name="FirstName" type="String" defaultValue="[null]" customProviderData="FirstName;nvarchar" />
          <add name="LastName" type="String" defaultValue="[null]" customProviderData="LastName;nvarchar" />
          <add name="Gender" type="String" defaultValue="[null]" customProviderData="Gender;nvarchar" />
          <add name="BirthDate" type="DateTime" defaultValue="[null]" customProviderData="BirthDate;datetime" />
          <add name="Occupation" type="String" defaultValue="[null]" customProviderData="Occupation;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="PersonalWebsite;nvarchar" />
        </group>
        <group name="Address">
          <add name="Country" type="String" defaultValue="[null]" customProviderData="Country;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address;nvarchar" />
          <add name="AptNumber" type="String" defaultValue="[null]" customProviderData="AptNumber;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode;nvarchar" />
        </group>
        <group name="Contacts">
          <add name="DayPhone" type="String" defaultValue="[null]" customProviderData="DayPhone;nvarchar" />
          <add name="DayPhoneExt" type="String" defaultValue="[null]" customProviderData="DayPhoneExt;nvarchar" />
          <add name="EveningPhone" type="String" defaultValue="[null]" customProviderData="EveningPhone;nvarchar" />
          <add name="EveningPhoneExt" type="String" defaultValue="[null]" customProviderData="EveningPhoneExt;nvarchar" />
          <add name="CellPhone" type="String" defaultValue="[null]" customProviderData="CellPhone;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax;nvarchar" />
        </group>
        <group name="Company">
          <add name="Company" type="String" defaultValue="[null]" customProviderData="Company;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address2;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City2;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State2;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode2;nvarchar" />
          <add name="Phone" type="String" defaultValue="[null]" customProviderData="Phone2;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax2;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="Website2;nvarchar" />
          <add name="Mobile" type="String" defaultValue="[null]" customProviderData="Mobile;nvarchar" />
        </group>
        <group name="Preferences">
          <add name="Culture" type="String" defaultValue="en-US" customProviderData="Culture;nvarchar" />
          <add name="Newsletter" type="String" defaultValue="[null]" customProviderData="Newsletter;nvarchar" />
        </group>
        <group name="AccessOptions">
          <add name="AccessType" type="System.String" defaultValue="Milliman Login" customProviderData="AccessType;nvarchar" />
          <add name="DBRequired" type="System.Boolean" defaultValue="0" customProviderData="DBRequired;BIT" />
          <add name="MustChangePassword" type="System.Boolean" defaultValue="0" customProviderData="MustChangePassword;BIT" />
          <add name="IsClientAdministrator" type="System.Boolean" defaultValue="0" customProviderData="IsClientAdministrator;BIT" />
          <add name="AdminNote" type="System.String" defaultValue="" customProviderData="AdminNote;nvarchar" />
          <add name="IsPublishingAdministrator" type="System.Boolean" defaultValue="0" customProviderData="IsPublishingAdministrator;BIT" />
        </group>
      </properties>
    </profile>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="NotLoggedIn.html" protection="All" timeout="15">
        <credentials passwordFormat="Clear">
        </credentials>
      </forms>
    </authentication>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="MillimanReportReduction.ServiceSupport.ServiceKeyBehaviorExtensionElement, MillimanReportReduction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:49573/QMS/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS" name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="https://localhost:49573/ANY/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService" name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>
</configuration>