<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
      <add key="ProductName" value="PRM" />
    <!--Used to calculate if a user needs doc cals or user cal-->
    <add key="MaxDocsPerDocumentCAL" value="7" />  <!--user with > 7 documents get a named license-->
    <!--Used to calculate cost of licensing--> 
    <add key="DocCALCost" value="140.40" />
    <add key="NamedCALCost" value="1000.00" />
    <add key="NumberDocCals" value="500"/>
    <add key="NumberUserCals" value="225"/>
    <!--Used in links sent by system and references how to access the PRM system-->
    <add key="ExternalServerName" value="https://prm.milliman.com" />
    <!--Make the dropdown filter visible in the web portal for these users - typically Milliman only-->
    <add key="Logfile" value="Logs/Report.txt" />
    <!--set to launch QV docs from an alternate mounted QV server folder, set to "" when not needed-->
    <add key="QVSubRoot" value="" />
    <!--Used to facilitate SSO on the production server,  writes temp credentials that are not accessable outside the server-->
    <add key="HCIntelCache" value="D:\InstalledApplications\PRM\Cache" />
    <!--Used as path for repo on downloads per user per document - now update via PMC when uploading docs-->
    <add key="UserSpecificDownloads" value="D:\InstalledApplications\PRM\CustomUserDownloads\downloads.xml" />
    <!--where the access rules are located - this repo indicates which users can see which QVW projects-->
    <add key="RepoFilePath" value="D:\InstalledApplications\PRM\Rules\rules.xml" />
    <!--the default root of where the QVW files are -->
    <add key="QVDocumentRoot" value="D:\InstalledApplications\PRM\QVDocuments" />
    <!--Directory used to force users to reset passwords, a RST file written using user UUID from membership DB-->
    <add key="ResetUserInfoRoot" value="D:\InstalledApplications\PRM\ResetUsers" />
    <!--Address and info related to sending emails from the system-->
    <add key="SmtpServer" value="10.50.4.150" />
    <add key="SmtpPort" value="25" />
    <add key="SendDebugEmail" value="false" />  <!--sends the email to EmailDebugAccount for verification of message send-->
    <add key="EmailDebugAccount" value="prm.operations@milliman.com" />
    <add key="EmailFrom" value="prm.support@milliman.com" />
    <add key="SupportEmail" value="prm.support@milliman.com" />
    <add key="EmailSubject" value="PRM Server Validation Services" />
    <add key="EmailBodyFile" value="templates/email.html" />  <!--location where templates are stored--> 
    <add key="SmtpUserName" value="" />  <!--not needed at milliman, since SMTP is only available inside network/DMZ-->
    <add key="SmtpPassword" value="" />  <!--not needed at milliman, since SMTP is only available inside network/DMZ-->
    <!--location of group map used to hold license limits per group, plus group friendly names-->
    <add key="MillimanGroupMap" value="D:\InstalledApplications\PRM\GroupMap\Groups.xml" />
    <!--group names added to this list are required to have a link to a QVW,  no defaulting to master QVW-->
    <add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH" />
    <add key="DefaultStartPath" value="D:\InstalledApplications\PRM\QVDocuments"/>
    
    <add key="LicenseReportEmailDestinations" value="prm.operations@milliman.com"/>
    <add key="LicenseReportDirectory" value="C:\inetpub\wwwroot\InstalledApplications\LicenseReports"/>
</appSettings>
  <connectionStrings>
    <add name="dbMyCMSConnectionString" connectionString="Server=.\SQLExpress;Database=PortalDBSFv2M1;Trusted_Connection=Yes;User Instance=False;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <!-- <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
</configuration>