<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Server" value="indy-ss01" />
  <!-- These values will be called from Application -->

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="Afsheen.Khan@milliman.com" />
  <add key="EmailTo" value="Afsheen.Khan@milliman.com" />
  <add key="EmailCC" value="Afsheen.Khan@milliman.com" />

  <!--
  
  <add key="EmailFrom" value="PRM.Operations@milliman.com" />
  <add key="EmailTo" value="PRM.Operations@milliman.com" />
  
  -->
  <!--To be removed later-->
  <add key="EmailCC" value="Afsheen.Khan@milliman.com" />

  <add key="CommandTimeout" value="300" />

  <!--Logger-->
  <add key="LoggerFileDirectory" value="C:\ProductionLogs\LogFileProcessor\" />
  <add key="LoggerFileName" value="Logger" />

  <!--ProcessedFileLog-->
  <add key="ProcessedFileLogDirectory" value="C:\ProductionLogs\LogFileProcessor\BackUp\" />
  <add key="ProcessedFileLogFileName" value="ProcessedFileLog" />

  <!--Filestatus - this is file that provides the file name to be processes-->
  <add key="statusFileName" value="status" />
  <add key="FileStatus" value="C:\ProductionLogs\SyncStatus\" />

  <!--MultipleQVDocs: Every report must contain 'qvDocMultipleRoot' as key-->
  <add key="qvDocMultipleRoot1" value="d:\installedapplications\prm\qvdocuments\"/>
  <add key="qvDocMultipleRoot2" value="d:\installedapplications\millimansite\qvdocuments\"/>
  <add key="qvDocMultipleRoot3" value="d:\installedapplications\Test\qvdocuments\"/>

  <!--GetFileSourceLocation - source-->
  <add key="SourceDir" value="C:\ProductionLogs\" />
  <add key="IISLogsS" value="C:\ProductionLogs\IISLogs\" />
  <add key="MiscLogsS" value="C:\ProductionLogs\MiscLogs\" />
  <add key="QVAuditLogsS" value="C:\ProductionLogs\QVLogs\" />
  <add key="QVSessionLogsS" value="C:\ProductionLogs\QVLogs\" />

  <!--GetFileCopyToDestinationInLocation - In-->
  <add key="ProcessingInDir" value="C:\ProductionLogs\LogFileProcessor\" />

</appSettings>