<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbMyCMSConnectionString" connectionString="Server=.\SQLExpress;Database=PortalDBSFv2M1;Trusted_Connection=Yes;User Instance=False;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <!-- <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
</configuration>