<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CLSConfigurationProductionDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\CLSMedicareReimbursement\web.config"/>
    <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
    <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
    <add key="SMTPServer" value="10.50.4.150"/>
    <add key="SMTPPort"   value="25"/>
  </appSettings>
    <applicationSettings>
        <CLSConfigurationProductionDaemon.Properties.Settings>
            <setting name="CLSConfigurationProductionDaemon_CLSConfigurationServices_CLSConfigurationServices"
                serializeAs="String">
                <value>http://10.46.2.37/clsconfigurationservices/clsconfigurationservices.asmx</value>
            </setting>
        </CLSConfigurationProductionDaemon.Properties.Settings>
    </applicationSettings>
</configuration>