<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Logger-->
    <add key="LoggerFileDirectory" value="\\indy-ss01\LogFileProcessor\LoggerFileDirectory\" />
    <add key="LoggerFileName" value="Logger" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql,Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear/>
    <add name="DatabaseContext"
         connectionString="Host=localhost;Server=127.0.0.1;Port=5432;
                            Database=logFileProcess;User Id=postgres;Password=admin;"
                            providerName="Npgsql" />
  </connectionStrings>
</configuration>