<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="PRMServerMonitor.appsettings.config">
    <!-- Applications settings for the GUI application only should be added here -->
    <!-- Settings that are common to both the GUI and console applications should be added to the referenced file -->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="PrmServerMonitorLib.ServiceSupport.ServiceKeyBehaviorExtensionElement, PrmServerMonitorLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="100000000" openTimeout="00:05:00" sendTimeout="00:30:00" receiveTimeout="00:40:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService" maxReceivedMessageSize="100000000" openTimeout="00:05:00" sendTimeout="00:30:00" receiveTimeout="00:40:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://indy-prm-2:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="Qms.IQMS"
                name="BasicHttpBinding_IQMS"
                behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="http://indy-prm-2:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="Qms.IQTService"
                name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>
</configuration>