.templatecontent
{
	margin:0px;
	/*width: 95%;*/
	background-color: White;
	border: #999999 1px solid;
	/*padding: 20px;
    height: 95%;*/
    padding: 0px 0px 0px 0px;
    overflow:hidden;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    /*overflow:auto;position:absolute;top:290px;bottom:43px;left:5px;width:98%;border:1px solid lightgray*/
}

.logincontent
{
	margin:auto;
	width: 800px;
	background-color: White;
	border: #999999 1px solid;
	padding: 1px;
    /*height: 500px;*/
}

.content
{
	margin: auto;
	width: 280px;
}

.header
{
	padding-bottom: 10px;
	border-bottom: #9FB88F 1px solid;
	margin-bottom: 10px;
}

.header img
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    margin-top: -8px;
    width: 291px;
}

body 
{
	font: 11px Tahoma;	
	margin: auto;	
	background-color: #f5f5f5;
	padding: 10px;
}

ul
{	
	margin-top: 2px;	
}

li
{
	padding-left: 0px;	
}

.bodytext
{
	font: 11px Tahoma;	
}

.button, .button:hover,
.okbutton, .okbutton:hover,
.cancelbutton, .cancelbutton:hover
{
	padding: 0px;
	border: 0px;
	margin: 1px;
	width: 92px;
	color: black;
	font-weight: normal;
	height: 26px;
	background-color: transparent;
	text-align: center;
	font-size: 11px;
	vertical-align: middle;
}

.button, .okbutton, .cancelbutton
{
	background-image: url(btn.png);	
}

.button:hover, .okbutton:hover, .cancelbutton:hover
{
	background-image: url(btnact.png);
}

.textbox,.password,.dropdown,.listbox
{
	font: 11px Verdana;
	width: 160px;
}

.textbox,.password,.dropdown,.listbox{
    margin-left: 2px;
    background-color: #F7F7F7;
    border:1px solid;
    border-color: #AFD1FF;
}

.textbox:focus,.password:focus,.dropdown:focus{
	background-color: #FFFFFF;
    border-color: #AFD1FF;
}

.checkbox
{
	font: 11px Tahoma;
	color: black;
}

.radio
{
	font: 11px Tahoma;
	color: black;
}

.bodytext
{
	font: 11px Tahoma;	
	color: #000000;	
}

.bodytextb
{
	font: bold 11px Tahoma;
	color: #000000;
}

.bodytexti
{
	font: italic 11px Tahoma;	
	color: #000000;
}

.error-1
{
	font: 12px Tahoma;
	color: #EE8A1E;
	padding-left: 0px;
    vertical-align:middle;
}

/******   H3    */
#cssmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 36px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  background: url('off.gif') repeat-x left top;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  border-bottom: 4px solid gray;
  border-top: 1px solid lightgray;
    top: 0px;
    left: 0px;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  pading: 0;
}
#cssmenu li a {
  display: block;
  float: left;
  color: #050000;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 20px 0 20px;
  height: 24px;
  background: transparent url('divider.gif') no-repeat top right;
}
#cssmenu li a:hover {
  background: transparent url('hover.gif') no-repeat top right;
  color: #4d4585;
}

caption {
color: black;
background: #f0f0f0;
}


