<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ProductName" value="PRM" />
    <!--Used to calculate if a user needs doc cals or user cal-->
    <add key="MaxDocsPerDocumentCAL" value="7" />
    <!--user with > 7 documents get a named license-->
    <!--Used to calculate cost of licensing-->
    <add key="DocCALCost" value="140.40" />
    <add key="NamedCALCost" value="1000.00" />
    <!--Used in links sent by system and references how to access the PRM system-->
    <add key="ExternalServerName" value="http://prm-staging-1.milliman.com" />
    <!--Make the dropdown filter visible in the web portal for these users - typically Milliman only-->
    <add key="ShowFilter" value="van.nanney@milliman.com~david.pierce@milliman.com~blake.polen@milliman.com~thomas.butler@milliman.com~art.wilmes@milliman.com~tom.puckett@milliman.com~afsheen.khan@milliman.com" />
    <add key="Logfile" value="Logs/Report.txt" />
    <!--Certificates used by system to access the PRM system for SSO-->
    <add key="SSOMetaData" value="SSOConfigure\tib_metadata_for_sp.xml" />
    <add key="CovisintCert_1" value="SSOConfigure\tib.securedby.covisint.com-2012.crt" />
    <add key="CovisintCert_2" value="SSOConfigure\tibcert.crt" />
    <add key="CovisintCert_3" value="SSOConfigure\NextGen.cer" />
    <add key="HCIntelPFX" value="SSOConfigure\hcintel.cloudapp.net.pfx" />
    <!--Set to true to ignore certificats, used for debugging-->
    <add key="IgnoreTrustCertificates" value="false" />
    <!--set to launch QV docs from an alternate mounted QV server folder, set to "" when not needed-->
    <add key="QVSubRoot" value="" />
    <!--Used to facilitate SSO on the production server,  writes temp credentials that are not accessable outside the server-->
    <add key="HCIntelCache" value="C:\InstalledApplications\PRM_Staging\Cache" />
    <!--Used as path for repo on downloads per user per document - now update via PMC when uploading docs-->
    <add key="UserSpecificDownloads" value="C:\InstalledApplications\PRM_Staging\CustomUserDownloads\downloads.xml" />
    <!--References where the online SQL utility is-->
    <add key="DatabaseBrowserURL" value="https://prm.milliman.com/MillimanSQLUtility/Sql.aspx" />
    <!--keys to map outgoing for SSO access-->
    <add key="CARECOORD" value="Care Coordinator Report.qvw" />
    <add key="POPULATION" value="Care Coordinator Report.qvw" />
    <add key="COSTMODEL" value="Cost Models.qvw" />
    <!--keys to map incoming - bookmarked voodoo-->
    <add key="Care Coordinator Report.qvw" value="POPULATION" />
    <add key="Cost Models.qvw" value="COSTMODEL" />
    <!--where the access rules are located - this repo indicates which users can see which QVW projects-->
    <add key="RepoFilePath" value="C:\InstalledApplications\PRM_Staging\Rules\rules.xml" />
    <!--the default root of where the QVW files are -->
    <add key="QVDocumentRoot" value="C:\InstalledApplications\PRM_Staging\QVDocuments" />
    <!--Directory used to force users to reset passwords, a RST file written using user UUID from membership DB-->
    <add key="ResetUserInfoRoot" value="C:\InstalledApplications\PRM_Staging\ResetUsers" />
    <!--Address and info related to sending emails from the system-->
    <add key="SmtpServer" value="10.50.4.150" />
    <add key="SmtpPort" value="25" />
    <add key="SendDebugEmail" value="true" />
    <!--sends the email to EmailDebugAccount for verification of message send-->
    <add key="EmailDebugAccount" value="prm.operations@milliman.com" />
    <add key="EmailFrom" value="prm.support@milliman.com" />
    <add key="SupportEmail" value="prm.support@milliman.com" />
    <add key="EmailSubject" value="Milliman PRM Password Recovery" />
    <add key="EmailBodyFile" value="templates/email.html" />
    <!--location where templates are stored-->
    <add key="SmtpUserName" value="" />
    <!--not needed at milliman, since SMTP is only available inside network/DMZ-->
    <add key="SmtpPassword" value="" />
    <!--not needed at milliman, since SMTP is only available inside network/DMZ-->
    <add key="SmtpMailPickup" value="C:\InstalledApplications\PRM_Staging\eMailPickup" />
    <!--Used to relay messages to AZURE, has not been needed since Milliman data center move-->
    <add key="TrustedMailRelayService" value="" />
    <add key="SecureLinkLifeSpan" value="3" />
    <!--days till secure link expires-->
    <!--location where client admin application lives-->
    <add key="ClientAdminApp" value="http://prm-staging-1.milliman.com/PRMClientAdmin/default.aspx" />
    <add key="ClientPublishingApp" value="http://prm-staging-1.milliman.com/PRMClientPublisher/default.aspx" />
    <add key="DatabaseBrowserURL" value="http://prm-staging-1.milliman.com/PRMSQLBrowser/Sql.aspx" />
    <!--location of group map used to hold license limits per group, plus group friendly names-->
    <add key="MillimanGroupMap" value="C:\InstalledApplications\PRM_Staging\GroupMap\Groups.xml" />
    <!--group names added to this list are required to have a link to a QVW,  no defaulting to master QVW-->
    <add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0000EXT01_NewYork_LIVE BPCI - Premier~0000EXT01_NewYork_LIVE BPCI - USPI~0000EXT01_NewYork_LIVE BPCI - CAM" />
    <!--<add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0032ICW01_Medicare_All iCare" />-->
    <add key="SuperGroupFilePath" value="C:\InstalledApplications\PRM_Staging\SuperGroups\SuperGroups.xml" />

    <!--maximum account lock out time span in minutes-->
    <add key="DefaultAccountLockoutTimeSpan" value="5" />
    <add key="AllowedSpecialCharactersInPassword" value="[~!@#$%^&amp;*;?+_.]"/>
    <add key="AllowedSpecialCharactersInUserName" value="!,-,~,_,`,',^" />
    <!--<add key="AllowedSpecialCharactersInUserName" value="" />-->
    <!--map Covisint IDs to our internal IDs-->
    <!--<add key="1000017006" value="8385259" />
    <add key="1000017012" value="1000003015" />-->
  </appSettings>
  <connectionStrings>
    <add name="dbMyCMSConnectionString" connectionString="Server=.\SQLExpress;Database=PortalDBSFv2M1;Trusted_Connection=Yes;User Instance=False;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <!--maxInvalidPasswordAttempts for attempts
        passwordAttemptWindow for locking for specified period
        passwordAnswerAttemptLockoutDuration for locking for specified period-->
        <add name="dbSqlMemberShipProvider"
      type="System.Web.Security.SqlMembershipProvider"
      connectionStringName="dbMyCMSConnectionString"
      enablePasswordRetrieval="true"
      enablePasswordReset="true"
      requiresQuestionAndAnswer="false"
      applicationName="MyCMS"
      requiresUniqueEmail="true"
      passwordFormat="Encrypted"
      minRequiredPasswordLength="7"
      minRequiredNonalphanumericCharacters="1"
      maxInvalidPasswordAttempts="6"
      passwordAttemptWindow="5"
      passwordStrengthRegularExpression=""
             />
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <!-- <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <!-- CUSTOM SQLMembership TABLE PROFILES Provider -->
    <profile defaultProvider="MyCMSTableProfileProvider" automaticSaveEnabled="false" enabled="true">
      <providers>
        <clear />
        <add name="MyCMSTableProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" table="aspnet_CustomProfile" type="CustomProfile.SqlTableProfileProvider" />
        <add name="MyCMSStoredProcedureProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" type="CustomProfile.SqlStoredProcedureProfileProvider" setProcedure="sp_wsat_SetCustomProfileData" readProcedure="sp_wsat_GetCustomProfileData" />
      </providers>
      <properties>
        <group name="Personal">
          <add name="FirstName" type="String" defaultValue="[null]" customProviderData="FirstName;nvarchar" />
          <add name="LastName" type="String" defaultValue="[null]" customProviderData="LastName;nvarchar" />
          <add name="Gender" type="String" defaultValue="[null]" customProviderData="Gender;nvarchar" />
          <add name="BirthDate" type="DateTime" defaultValue="[null]" customProviderData="BirthDate;datetime" />
          <add name="Occupation" type="String" defaultValue="[null]" customProviderData="Occupation;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="PersonalWebsite;nvarchar" />
        </group>
        <group name="Address">
          <add name="Country" type="String" defaultValue="[null]" customProviderData="Country;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address;nvarchar" />
          <add name="AptNumber" type="String" defaultValue="[null]" customProviderData="AptNumber;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode;nvarchar" />
        </group>
        <group name="Contacts">
          <add name="DayPhone" type="String" defaultValue="[null]" customProviderData="DayPhone;nvarchar" />
          <add name="DayPhoneExt" type="String" defaultValue="[null]" customProviderData="DayPhoneExt;nvarchar" />
          <add name="EveningPhone" type="String" defaultValue="[null]" customProviderData="EveningPhone;nvarchar" />
          <add name="EveningPhoneExt" type="String" defaultValue="[null]" customProviderData="EveningPhoneExt;nvarchar" />
          <add name="CellPhone" type="String" defaultValue="[null]" customProviderData="CellPhone;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax;nvarchar" />
        </group>
        <group name="Company">
          <add name="Company" type="String" defaultValue="[null]" customProviderData="Company;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address2;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City2;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State2;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode2;nvarchar" />
          <add name="Phone" type="String" defaultValue="[null]" customProviderData="Phone2;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax2;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="Website2;nvarchar" />
          <add name="Mobile" type="String" defaultValue="[null]" customProviderData="Mobile;nvarchar" />
        </group>
        <group name="Preferences">
          <add name="Culture" type="String" defaultValue="en-US" customProviderData="Culture;nvarchar" />
          <add name="Newsletter" type="String" defaultValue="[null]" customProviderData="Newsletter;nvarchar" />
        </group>
        <group name="AccessOptions">
          <add name="AccessType" type="System.String" defaultValue="Milliman Login" customProviderData="AccessType;nvarchar" />
          <add name="DBRequired" type="System.Boolean" defaultValue="0" customProviderData="DBRequired;BIT" />
          <add name="MustChangePassword" type="System.Boolean" defaultValue="0" customProviderData="MustChangePassword;BIT" />
          <add name="IsClientAdministrator" type="System.Boolean" defaultValue="0" customProviderData="IsClientAdministrator;BIT" />
          <add name="IsPublishingAdministrator" type="System.Boolean" defaultValue="0" customProviderData="IsPublishingAdministrator;BIT" />
        </group>
      </properties>
    </profile>
    <!-- Because the password format is set to ENCRYPTED, a machine key like below is required. If you don't want to use the one provided below, you can create your own key at: http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx. If you set the password format to Clear or Hashed, you can delete or comment out this machine key. -->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />

    <pages>
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="UserLogin.aspx" protection="All" timeout="15">
        <credentials passwordFormat="Clear">
          <!--<user name="van.nanney@milliman.com" password="password" />
          <user name="john.bosko@milliman.com" password="password" />
          <user name="art.wilmes@milliman.com" password="password" />
          <user name="O75BP8N3" password="covisint_federated_user" />
          <user name="F3K4Q649" password="covisint_federated_user" />
          <user name="FPC3JEQ3" password="covisint_federated_user" />-->
        </credentials>
      </forms>
    </authentication>
    <customErrors mode="RemoteOnly" />
    <trace enabled="true" writeToDiagnosticsTrace="true" />
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules />
    <sessionState timeout="15"></sessionState>
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="UltimateSaml" value="true" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="E:\InstalledApplications\PRM\Logs\UltimateSaml_SPI_ServiceProviderWebDemo.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <location path="UserLogin.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImage_axd" />

      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <!--set the default document-->
    <defaultDocument enabled="true">
      <files>
        <!--sometimes having this entry will result in an IIS error of duplicate key entries for default document-->
        <!--<add value="default.aspx" />-->
      </files>
    </defaultDocument>

  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="MillimanReportReduction.ServiceSupport.ServiceKeyBehaviorExtensionElement, MillimanReportReduction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://prm.milliman.com:4799/QMS/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS"
        name="BasicHttpBinding_IQMS"/>
      <endpoint address="https://prm.milliman.com:4799/ANY/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService"
        name="BasicHttpBinding_IQTService"/>-->
      <endpoint address="https://prm.milliman.com:4799/QMS/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS" name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="https://prm.milliman.com:4799/ANY/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService" name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>
</configuration>
