<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />
    <providers>
       <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql,Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear />
    <!--Either username must be provided or the Integrated Security must be on-->
    <add name="DatabaseContext" 
            connectionString="Host=indy-pgsql01;
                              Database=systemreporting;
                              Integrated Security=True;
                              User Id=afsheen.khan;
                              Port=5432;
                              POOLING=True;
                              MINPOOLSIZE=10;
                              MAXPOOLSIZE=20;"
         providerName="Npgsql"/>

    <!--<add name="DatabaseContext"
         connectionString="Host=localhost;Server=127.0.0.1;Port=5432;POOLING=True;MINPOOLSIZE=10;MAXPOOLSIZE=20;
                            Database=systemreporting;User Id=postgres;Password=admin;"
                            providerName="Npgsql" />-->
    
    <!--<add name="DatabaseContext" 
            connectionString="User Id=Indy_PostgreSQl;Host=indy-pgsql02;
                              Database=systemreporting;Integrated Security=True;" 
         providerName="Npgsql"/>-->
    
  </connectionStrings>
  <appSettings configSource="appsettings_Dev.config" />
</configuration>