<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="Afsheen.Khan@milliman.com" />
  <add key="EmailTo" value="Afsheen.Khan@milliman.com" />
  <add key="EmailCC" value="Afsheen.Khan@milliman.com" />

  <add key="CommandTimeout" value="300" />

  <!--ExceptionLogger-->
  <add key="ExceptionFileDirectory" value="C:\ProductionLogs\LogFileProcessor\" />
  <add key="ExceptionFileName" value="ExceptionLogger" />

  <!--ReportGenerator-->
  <add key="LogType" value="Audit" />
  <!--<add key="LogTypeCategory" value="iIS,Session,Audit" />-->
  
  <!--ReportTypeCategory: Group, Report, User-->
  <add key="ReportTypeCategory" value="Group" />
  <add key="LogReportName" value="LIVE BPCI - PREMIER" />

  <add key="OutPutFileFormat" value="Excel" />
  <!--
  <add key="OutPutFileFormat" value="Csv" />
  <add key="OutPutFileFormat" value="Text" />
  -->
  
  <add key="StartDate" value="04/01/2016" />
  <add key="EndDate" value="06/21/2016" />
  
  <add key="GenerateIisLogsReportDirectory" value="C:\Test\" />
  <add key="GenerateQVAuditLogsReportDirectory" value="C:\Test\" />
  <add key="GenerateQVSessionLogsReportDirectory" value="C:\Test\" />

</appSettings>