body{font-family: lucida grande, arial, helvetica,sans-serif;font-size:12px;color:#555555;margin:0px;padding:0px;background-color:#ffffff;}
a:link{text-decoration:none;color:#333333;}
a:visited{text-decoration:none;color:#333333;}
a:hover{text-decoration:none;color:#000000;}
a:active{text-decoration:none;color:#333333;}
a:focus{outline: none;}

/* UNIVERSAL PROPERTIES ----------------------------------- */
.clearBoth{clear:both;}
.clearBoth2{clear:Both;height:10px;}
.underline{text-decoration:underline important!}
.italic{font-style:italic;font-size:12px;}
.regular{font-size:12px;}
.small{font-size:10px;}
.bold{font-weight:bold;}
.margin10{margin:10px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.faint a{color:#999999;}
.faint a:hover{color:#000000;}
.pageBottomPadding{height:85px;}

/* AJAX TABS technorati-theme */
.aTab1 .ajax__tab_header {background:url(images/aspnet-tabs/tab-line-2.png) repeat-x bottom;font-size:14px;display:block;height:21px!important}
.aTab1 .ajax__tab_header .ajax__tab_outer {background:url(images/aspnet-tabs/tab-2.png) no-repeat left top;border-color:#4b4d4f;color:#222;padding-left:10px;margin-right:0px;}
.aTab1 .ajax__tab_header .ajax__tab_inner {background:url(images/aspnet-tabs/tab-2.png) no-repeat right top;border-color:#4b4d4f;color:#999;padding:4px 10px 4px 0px;}
.aTab1 .ajax__tab_hover .ajax__tab_outer {color:#fff;cursor:pointer;background:url(images/aspnet-tabs/tab-2.png) no-repeat 0pt -40px;}
.aTab1 .ajax__tab_hover .ajax__tab_inner {color:#fff;cursor:pointer;background:url(images/aspnet-tabs/tab-2.png) no-repeat right -40px;}
.aTab1 .ajax__tab_active .ajax__tab_outer {background:url(images/aspnet-tabs/tab-2.png) no-repeat 0pt -40px;border-bottom-color:#4b4d4f;}
.aTab1 .ajax__tab_active .ajax__tab_inner {background:url(images/aspnet-tabs/tab-2.png) no-repeat right -40px;color:#fff;border-color:#4b4d4f}
.aTab1 .ajax__tab_body {font-size:11px;padding:0px 0px 0px 0px;background-color:#ccc;border:solid 1px #4b4d4f;border-top-width:0;}

.contentTemplate{font-size:11px;padding:20px 10px 20px 10px;}

.aTab1  .ajax__tab_header .ajax__tab_outer .ajax__tab_xp .ajax__tab_tab {height:21px!important;width:152px;padding:4px;margin:0px;}
/*.aTab1 .ajax__tab_active .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab {height:21px!important;width:152px;padding:4px;margin:0px;}
.aTab1 .ajax__tab_hover .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab {height:21px!important;width:152px;padding:4px;margin:0px;}*/


/* DETAILS VIEW STYLES */
.dv{width: 100%; border: 0px solid #e9e9e9; background-color: #fff;}
.dv td{padding:2px 5px; border: 1px solid #e9e9e9;}
.dv th{padding:2px 5px; border: 0px solid #e9e9e9;}
.dvHeader{background-image: url(images/detailsview/header-bg.jpg); text-align: center; height: 22px; color: #000000; font-weight: bold; font-size: 14px;}
.dvRowStyle{Border: 0px solid #e9e9e9; height: 22px;}
/*.detailsviewRowStyle:hover{Border: 1px solid #D5D4E1; background-image: url(images/hover-bg.jpg);}*/
.dvAlternateRowStyle{background-color: #fff; height: 22px;}
.dvAlternateRowStyle:hover{background-image: url(images/hover-bg.jpg);}
.dvFieldHeader{width: 170px;}

/* edit user info */
.userInfoWrap{width:500px;margin:100px auto auto auto;}

/* form element styles */
.formNameTitle{font-size: 16px; font-weight: bold;}
.formSectionTitle{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;}
.formSectionTitle2{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;margin-bottom:20px;}
.formLabelsText{margin:5px 0px 5px 0px;}
.formSectionEnd{margin-bottom:20px;}
.formButton input{font-size:11px;}


