body{font-family: lucida grande, arial, helvetica,sans-serif;font-size:12px;color:#555555;margin:0px;padding:0px;background-color:#ffffff;}
a:link{text-decoration:none;color:#333333;}
a:visited{text-decoration:none;color:#333333;}
a:hover{text-decoration:none;color:#000000;}
a:active{text-decoration:none;color:#333333;}
a:focus{outline: none;}

/* UNIVERSAL PROPERTIES ----------------------------------- */
.clearBoth{clear:both;}
.clearBoth2{clear:Both;height:10px;}
.underline{text-decoration:underline important!}
.italic{font-style:italic;font-size:12px;}
.regular{font-size:12px;}
.small{font-size:10px;}
.bold{font-weight:bold;}
.margin10{margin:10px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.faint a{color:#999999;}
.faint a:hover{color:#000000;}
.pageBottomPadding{height:85px;}

/* AJAX TABS technorati-theme */
.aTab1 .ajax__tab_header {background:url(images/aspnet-tabs/tab-line.png) repeat-x bottom;font-size:12px;display:block;}
.aTab1 .ajax__tab_header .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat left top;border-color:#e9e9e9;color:#222;padding-left:10px;margin-right:3px;}
.aTab1 .ajax__tab_header .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right top;border-color:#e9e9e9;color:#666;padding:3px 10px 2px 0px;}
.aTab1 .ajax__tab_hover .ajax__tab_inner {color:#000000;cursor:pointer;}
.aTab1 .ajax__tab_active .ajax__tab_outer {background:url(images/aspnet-tabs/tab.png) no-repeat 0pt -40px;border-bottom-color:#ffffff;}
.aTab1 .ajax__tab_active .ajax__tab_inner {background:url(images/aspnet-tabs/tab.png) no-repeat right -40px;color:#000000;border-color:#e9e9e9}
.aTab1 .ajax__tab_body {font-size:10px;padding:1px 0px 0px 0px;background-color:#ffffff;border:solid 1px #e9e9e9;border-top-width:0;}
.contentTemplate{font-size:11px;padding:20px 10px 20px 10px;}

/* DETAILS VIEW STYLES */
.dv{width: 100%; border: 0px solid #e9e9e9; background-color: #fff;}
.dv td{padding:2px 5px; border: 1px solid #e9e9e9;}
.dv th{padding:2px 5px; border: 0px solid #e9e9e9;}
.dvHeader{background-image: url(images/detailsview/header-bg.jpg); text-align: center; height: 22px; color: #000000; font-weight: bold; font-size: 14px;}
.dvRowStyle{Border: 0px solid #e9e9e9; height: 22px;}
/*.detailsviewRowStyle:hover{Border: 1px solid #D5D4E1; background-image: url(images/hover-bg.jpg);}*/
.dvAlternateRowStyle{background-color: #fff; height: 22px;}
.dvAlternateRowStyle:hover{background-image: url(images/hover-bg.jpg);}
.dvFieldHeader{width: 170px;}

/* edit user info */
.userInfoWrap{width:500px;margin:100px auto auto auto;}

/* form element styles */
.formNameTitle{font-size: 16px; font-weight: bold;}
.formSectionTitle{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;}
.formSectionTitle2{font-weight: normal;font-size:14px;color:#000000; border-bottom: 1px solid #e9e9e9;margin-bottom:20px;}
.formLabelsText{margin:5px 0px 5px 0px;}
.formSectionEnd{margin-bottom:20px;}
.formButton input{font-size:11px;}


/********************CUSTOMIZED*****************/
/*Standard Generic*/
.centerElement{margin:auto;padding:5px}
.space{margin-bottom:5px}
.alert{border:1px solid transparent;border-radius:4px!important;margin-bottom:6px!important;padding:4px!important}
.weak{color:#999;font-size:14px}
.labelweak{color:#5f6162;font-size:12px;margin:5px -6px 3px 8px}
.required:after{content:" *";font-weight:700;color:#c1c1c1;font-size:20px;margin:0;float:right}
.textbox-focus{border:solid 2px #00C;background:#def}
input.textbox-focus{border:2px solid #00C;background:#def}
.ddl{border:2px solid #d5d9da;border-radius:3px;padding:3px;text-indent:.01px;font-size:13px;font-family:Georgia;margin:6px 6px 0 2px}
.headers{-moz-transition:color .1s ease-in-out 0;border-bottom:4px solid transparent;color:#555;font-size:1.3em;text-decoration:none!important;text-shadow:1px 1px 0 #FFF}
.mainTable{background-color:#e8e8e8;border-collapse:collapse;margin-bottom:5px;width:750px}
.navyHeaderFont{font-weight:700;color:Navy;font-size:12px}

.customRoundedPanel{overflow:hidden;background:#d3d3d3;border-radius:10px;-moz-border-radius:5px;-webkit-border-radius:5px;-opera-border-radius:10px;}
.customRoundPanelShadow{box-shadow:0 1px 2px 1px #666}
.softRoundContainer{width:754px;margin-top:10px;padding:4px;}
.softRoundContainerStyle{border:2px solid #fff;border-radius:4px;box-shadow:0 0 5px #888}
.softRoundContainer-editor{border:1px solid #B0AEAE;margin:3px;overflow:hidden;padding:10px;
                           -moz-transition:all .5s ease-in-out 0;-moz-box-shadow:0 0 52px #B0AEAE;-moz-border-radius:5px;}

.roundShadowContainer{background:#fefefe;border:1px solid #c4cddb;padding:4px!important;margin:0 auto;border-top-color:#d3dbde;border-bottom-color:#bfc9dc;box-shadow:0 1px 1px #ccc;border-radius:5px;}
.roundShadowContainer h2{margin:0;padding:10px 0;font-size:18px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer h3{margin:0;padding:10px 0;font-size:16px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer ul,li{margin:0;padding:0;list-style-type:square}
.roundShadowContainer input{border:1px solid #d5d9da;border-radius:5px;box-shadow:0 0 5px #e8e9eb inset;outline:0}
.roundShadowContainer {width:435px;}

.fieldSetWithBorder{border:2px dashed #eee;margin:2px 2px 3px 3px;overflow:hidden;padding:2px;width:217px}
.fieldSetWithBorder legend{font-size:14px;line-height:inherit}
.first-of-type{margin:4px 3px 4px -2px}

/*password hint*/
.PWHsmallContainer{background: #f4f9fb none repeat scroll 0 0;border: 2px dashed #ddd;width: 349px;}     
.PWHshowHideDivHeader{width: 123px;padding:0;margin:4px 8px 9px 1px;cursor:pointer;}
.showPassword{float:right;margin:-25px 13px 0 0}          
.listUL{font-size:12px;list-style-type:square;margin:2px 0 1px 12px;padding:2px 1px 1px 6px;width:312px}
.listLi{font-size:12px;list-style-type:square;margin:3px 0 -2px 32px;padding:2px 1px 1px 6px;width:267px}   
#divPasswordHintCriteria{background:#fefefe none repeat scroll 0 0;border:1px solid #ddd;
                            border-radius:5px;box-shadow:0 1px 3px #ccc;display:none;font-size:.8em;
                            height:161px;padding:6px;position:absolute;width:365px;z-index:2000}
/*Layout*/
.containerWrap{text-align:center;padding:15px;background-color: #f5f5f5;width: 100%;}
.left-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px;vertical-align:top}
.right-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px}
.left{float: left;margin: 5px; text-align: left;}
.right{float:right;margin:5px;text-align: left;}
/*This code generates a gray button that will be highlighted when user hover over it:Example used in Parts Management(transportation)*/
.buttonGray{background:#EEE none repeat scroll 0 0;border:1px solid #DDD;color:#373737;cursor:pointer;font-weight:700;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;text-decoration:none;text-shadow:0 1px 1px #FFF;width:100px;height:25px;font-size:12px;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px}
.buttonGray:hover{border:solid 1px #CCC;background:#CCC none repeat scroll 0 0}
/* Text Box  */     
.standardTextBox{-moz-box-shadow:5px 5px 5px #ccc;-webkit-box-shadow:5px 5px 5px #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:1px 1px 1px 1px #CCC;padding:3px;text-align:left;background-color:#F0F8FF;color:gray}
/*Firefox, Safari/Chrome, Opera and IE9 users should see a grey fading shadow under this box.*/
.standardTextBox:active{background:#eee;-moz-box-shadow:inset 0 0 2px #5F5F5F;-webkit-box-shadow:inset 0 0 2px #5F5F5F;box-shadow:inset 0 0 2px #5F5F5F}
.standardTextBox:hover{border:solid 1px #999;-moz-box-shadow:0 0 10px #999;-webkit-box-shadow:0 0 10px #999;box-shadow:0 0 2px #999}                                                                                                        
.standardTextBox:focus{outline:none;border:solid 1px #73A6FF;background:#EFF5FF;color:#000}
/* info box*/
.infoBox{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;margin:0 auto!important}