<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="Afsheen.Khan@milliman.com" />
  <add key="EmailTo" value="Afsheen.Khan@milliman.com" />
  <add key="EmailCC" value="Afsheen.Khan@milliman.com" />
  
  <add key="UserProfileDirectory" value="C:\ResetUserInfoRoot" />
  <add key="ExceptionLoggerDirectory" value="C:\ResetUserInfoRoot\Exceptions" />
  <add key="PasswordExpiresInDays" value="45"/>

  <!--******************************************************************************************************************************-->
  <!-- if the followling handlers have value [True or other], program will process that. 
  If you do not want to process a specific Comment out the handler or Write NO or Empty-->
  <!--******************************************************************************************************************************-->

  <!--senario1: only process the user record, no clean up and no specific file to generate-->
  <!--if this value is Yes then process all users, and generate only 10 files and do clean up -->
  <add key="ProcessAllUsers" value="True"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value="50"/>
  <add key="DirectoryCleanUp" value="TRUE"/>

  <!--senario2: only process the user record, no clean up and no specific file to generate-->
  <!-- Process all users. Create 150 files. Do clean directory -->
  <!--
  <add key="ProcessAllUsers" value="True"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value="150"/>
  <add key="DirectoryCleanUp" value="True"/>
   -->

  <!-- Do not process all users. Process single user. Do not clean directory -->
  <!--
  <add key="ProcessAllUsers" value="No"/>
  <add key="ProcessSingleUser" value="aadie@sjhnh.org"/>
  <add key="FileGenerateCounter" value=""/>
  <add key="DirectoryCleanUp" value="No"/>
   -->

  <!-- Process all Users and create 50 files only.Do not clean directory -->
  <!--
  <add key="ProcessAllUsers" value="True"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value="50"/>
  <add key="DirectoryCleanUp" value="No"/>
   -->

  <!-- Process all Users and create all files and clean directory -->
  <!--
  <add key="ProcessAllUsers" value="True"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value=""/>
  <add key="DirectoryCleanUp" value="True"/>
   -->

</appSettings>