<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="PRM.Test@milliman.com" />
  <add key="EmailTo" value="PRM.Test@milliman.com" />
  <add key="EmailCC" value="PRM.Test@milliman.com" />

  <!--Staging-->
  <add key="UserProfileDirectory" value="D:\InstalledApplications\PRM_Staging\resetusers" />
  <add key="ExceptionLoggerDirectory" value="D:\InstalledApplications\PRM_Staging\PasswordResetUtility\Exceptions"/>
  <add key="PasswordExpiresInDays" value="45"/>

  <!--******************************************************************************************************************************-->
  <!-- if the followling handlers have value [True or other], program will process that. 
  If you do not want to process a specific Comment out the handler or Write NO or Empty-->
  <!--******************************************************************************************************************************-->

  <add key="ProcessAllUsers" value="true"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value="300"/>
  <add key="DirectoryCleanUp" value="true"/>

</appSettings>