<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="PRM.Operations@milliman.com" />
  <add key="EmailTo" value="PRM.Operations@milliman.com" />
  <add key="EmailCC" value="PRM.Operations@milliman.com" />
  
  <add key="UserProfileDirectory" value="C:\ResetUserInfoRoot\" />
  <add key="UserProfileFileName" value="ProviderUserKey" />
  <add key="PasswordExpiresInDays" value="45"/>

</appSettings>