<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="PRMPasswordReset@milliman.com" />
  <add key="EmailTo" value="PRM.Test@milliman.com" />

  <!--Staging-->
  <!--ALL fields listed below are required, if any are missing the utility will log an error and do NO processing-->
  <add key="UserProfileDirectory" value="D:\InstalledApplications\PRM_Staging\resetusers" />
  <add key="ExceptionLoggerDirectory" value="D:\InstalledApplications\PRM_Staging\PasswordResetUtility\Exceptions"/>
  <add key="PasswordExpiresInDays" value="45"/>

  <!--to process all users - set to arbitrarily high value like 1000000-->
  <add key="RSTFileCounter" value="110"/>  <!--required numeric field 0...X-->
  <add key="DirectoryCleanUp" value="false"/> <!--required boolean field, true/false-->

</appSettings>