<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--Address and info related to sending emails from the system-->
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="EmailFrom" value="Afsheen.Khan@milliman.com" />
  <add key="EmailTo" value="Afsheen.Khan@milliman.com" />
  <add key="EmailCC" value="Afsheen.Khan@milliman.com" />
  
  <add key="UserProfileDirectory" value="C:\ResetUserInfoRoot" />
  <add key="ExceptionLoggerDirectory" value="C:\ResetUserInfoRoot\Exceptions" />
  <add key="PasswordExpiresInDays" value="45"/>

  <!--******************************************************************************************************************************-->
  <!-- if the followling handlers have value [True or other], program will process that. 
  If you do not want to process a specific Comment out the handler or Write NO or Empty-->
  <!--******************************************************************************************************************************-->

  <add key="ProcessAllUsers" value="True"/>
  <add key="ProcessSingleUser" value=""/>
  <add key="FileGenerateCounter" value="50"/>
  <add key="DirectoryCleanUp" value="TRUE"/>

</appSettings>