<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--
	##############################################################
		Enterprise Library Settings
	##############################################################
	-->
  <configSections>
    <section name="environmentConfiguration" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="test" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="dev" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="stag" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="prod" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <!--ConfigurationProductionDaemon-->
    <!--<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CLSConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>-->
    <!--END ConfigurationProductionDaemon-->
  </configSections>
  <!--<configuration>
    <configSections>
      -->
  <!--ConfigurationProductionDaemon-->
  <!--
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CLSConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
      -->
  <!--END ConfigurationProductionDaemon-->
  <!--
    </configSections>
  </configuration>-->
  <environmentConfiguration>
    <elements>
      <!--	application env	-->
      <add key="EnvironmentSetUp" value="test" />
      <!--	typical environments	-->
      <add key="testpcname" value="test" />
      <add key="devpcname" value="dev" />
      <add key="stagpcname" value="stag" />
      <add key="prodpcname" value="prod" />
    </elements>
  </environmentConfiguration>

  <!--<applicationSettings>
    <sectionGroup>
      <add key="applicationSettings" value="applicationSettings" />
    </sectionGroup>
  </applicationSettings>-->

  <!--	test	local-->
  <test>
    <connectionStrings>
      <add name="CLSdbDataContextConnectionString"
          connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />

      <add name="DBConnectionString"
        connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />
    </connectionStrings>
    <elements>
      <!--*******************************************************************************************-->
      <add key="ProductionSiteWebConfig" value="C:\Users\afsheen.khan\Deployments\RocheWebAppConfigs\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>

      <!--ConfigurationProductionDaemon-->
      <add key="LabSystemsHandbookWebConfig" value="C:\Users\afsheen.khan\Deployments\RocheWebAppConfigs\web.config" />
      <!--fully qualafied path to real application web.config-->
      <add key="PostgresSchemaBlackList" value="pg_toast~pg_temp_1~pg_toast_temp_1~pg_catalog~public~information_schema" />
      <!--ignore schemas in this list-->
      <add key="ProductionURL" value="https://labsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="StagingURL" value="http://staginglabsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />

      <!--CLSConfigurationServices Web.Config-->
      <add key="ValidIPs" value="*" />
      <add key="MakeLiveDirectory" value="C:\Users\afsheen.khan\Deployments\RocheServicesConfigs\MakeLive" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      <add key="Memory" value="80"/>
      <add key="DiskSpace" value="80"/>
      <add key="DiskDrives" value="c"/>
      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
    </elements>
    <!--*******************************************************************************************-->
    <!--<applicationSettings>
      <CLSConfiguration.Properties.Settings>
        <setting name="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices" serializeAs="String">
          -->
    <!--path to web service stage ip address IP = 10.3.200.200 or 10.3.200.105-->
    <!--
          <value>http://localhost/RocheServicesConfigs/CLSConfigurationServices.asmx</value>
        </setting>
      </CLSConfiguration.Properties.Settings>
    </applicationSettings>-->
  </test>

  <!--	dev	-->
  <dev>
    <connectionStrings>
      <add name="CLSdbDataContextConnectionString"
          connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />

      <add name="DBConnectionString"
        connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />
      <!--using my credentials-->
      <!--<add name="CLSdbDataContextConnectionString"
                 connectionString="User Id=Afsheen.Khan;Password=AK@milliman2016;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement;Integrated Security=true;Initial Schema=rmrrdb_20160331;" />-->
      <!--website-->
      <!--
      <add name="CLSdbDataContextConnectionString" 
           connectionString="User Id=roche_admin;Password=MdDB4gHV;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160331;" />
      -->
      <!--service-->
      <!--
      <add name="DBConnectionString" connectionString="User Id=roche_admin;Password=MdDB4gHV;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false;" />-->

    </connectionStrings>
    <elements>
      <!--*******************************************************************************************-->
      <!--
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>
      -->
      <!--ConfigurationProductionDaemon-->
      <!--
      <add key="LabSystemsHandbookWebConfig" value="E:\dev.labsystemshandbook\web.config" />     -->
      <!--fully qualafied path to real application web.config-->
      <!--
      <add key="PostgresSchemaBlackList" value="pg_toast~pg_temp_1~pg_toast_temp_1~pg_catalog~public~information_schema" />-->
      <!--ignore schemas in this list-->
      <!--
      <add key="ProductionURL" value="https://labsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="StagingURL" value="http://staginglabsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      -->
      <!--CLSConfigurationServices Web.Config-->
      <!--
      <add key="ValidIPs" value="*" />
      <add key="MakeLiveDirectory" value="E:\dev.labsystemshandbookconfigurationservices\MakeLive" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      <add key="Memory" value="80"/>
      <add key="DiskSpace" value="80"/>
      <add key="DiskDrives" value="c"/>-->
      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
      <!--
      -->
      <!--*******************************************************************************************-->
      <!--END ConfigurationProductionDaemon-->
      <add key="ProductionSiteWebConfig" value="dev1"/>
      <add key="FromEmail"   value="dev2"/>
      <add key="Subject"   value="dev3"/>
      <add key="SMTPServer" value="dev4"/>
      <add key="SMTPPort"   value="dev5"/>
      <!--ConfigurationProductionDaemon + CLSConfiguration -->
      <add key="LabSystemsHandbookWebConfig" value="dev6"/>
      <!--fully qualafied path to real application web.config-->
      <add key="PostgresSchemaBlackList" value="dev7"/>
      <add key="ProductionURL" value="dev8"/>
      <add key="StagingURL" value="dev9"/>
      <!--CLSConfigurationServices Web.Config-->
      <add key="ValidIPs" value="dev10" />
      <add key="MakeLiveDirectory" value="dev11" />
      <add key="PGDump" value="dev12"/>
      <add key="PGRestore" value="dev13"/>
      <add key="Memory" value="80"/>
      <add key="DiskSpace" value="80"/>
      <add key="DiskDrives" value="c"/>
      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->

      <!--END ConfigurationProductionDaemon-->
    </elements>
    <!--<applicationSettings>
      <CLSConfiguration.Properties.Settings>
        <setting name="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices" serializeAs="String">
          -->
    <!--path to web service stage ip address IP = 10.3.200.200 or 10.3.200.105-->
    <!--
          <value>http://staginglabsystemshandbook.milliman.com/dev.labsystemshandbookconfigurationservices/CLSConfigurationServices.asmx</value>
        </setting>
      </CLSConfiguration.Properties.Settings>
    </applicationSettings>-->

  </dev>

  <!--	stag	-->
  <stag>
    <connectionStrings>

      <add name="CLSdbDataContextConnectionString"
          connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />

      <add name="DBConnectionString"
        connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />
      <!--using my credentials-->
      <!--<add name="CLSdbDataContextConnectionString"
                 connectionString="User Id=Afsheen.Khan;Password=AK@milliman2016;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement;Integrated Security=true;Initial Schema=rmrrdb_20160331;" />-->
      <!--website-->
      <!--
      <add name="CLSdbDataContextConnectionString" 
           connectionString="User Id=roche_admin;Password=MdDB4gHV;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160331;" />
      -->
      <!--service-->
      <!--
      <add name="DBConnectionString" connectionString="User Id=roche_admin;Password=MdDB4gHV;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false;" />-->

    </connectionStrings>
    <elements>
      <!--*******************************************************************************************-->
      <!--
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>
      -->
      <!--ConfigurationProductionDaemon-->
      <!--
      <add key="LabSystemsHandbookWebConfig" value="E:\dev.labsystemshandbook\web.config" />     -->
      <!--fully qualafied path to real application web.config-->
      <!--
      <add key="PostgresSchemaBlackList" value="pg_toast~pg_temp_1~pg_toast_temp_1~pg_catalog~public~information_schema" />-->
      <!--ignore schemas in this list-->
      <!--
      <add key="ProductionURL" value="https://labsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="StagingURL" value="http://staginglabsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      -->
      <!--CLSConfigurationServices Web.Config-->
      <!--
      <add key="ValidIPs" value="*" />
      <add key="MakeLiveDirectory" value="E:\dev.labsystemshandbookconfigurationservices\MakeLive" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      <add key="Memory" value="80"/>
      <add key="DiskSpace" value="80"/>
      <add key="DiskDrives" value="c"/>-->
      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
      <!--
      -->
      <!--*******************************************************************************************-->

      <add key="ProductionSiteWebConfig" value="stag1"/>
      <add key="FromEmail"   value="stag2"/>
      <add key="Subject"   value="stag3"/>
      <add key="SMTPServer" value="stag4"/>
      <add key="SMTPPort"   value="stag5"/>
      <!--ConfigurationProductionDaemon-->
      <add key="LabSystemsHandbookWebConfig" value="stag6"/>
      <add key="PostgresSchemaBlackList" value="stag7"/>
      <add key="ProductionURL" value="stag8"/>
      <add key="StagingURL" value="stag9"/>
      <!--CLSConfigurationServices Web.Config-->
      <add key="ValidIPs" value="stag10" />
      <add key="MakeLiveDirectory" value="stag11" />
      <add key="PGDump" value="stag12"/>
      <add key="PGRestore" value="stag13"/>
      <!--END ConfigurationProductionDaemon-->
    </elements>

  </stag>

  <!--	prod	-->
  <prod>
    <connectionStrings>
      <add name="CLSdbDataContextConnectionString"
           connectionString="User Id=postgres;Password=admin;Host=localhost;Database=Roche_Medicare_Reimbursement;Integrated Security=false;Initial Schema=rmrrdb_20160304;Pooling=false;" />

      <!--web site-->
      <add name="CLSdbDataContextConnectionString" connectionString="User Id=postgres;Password=rochelabs;Host=10.46.2.37;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false;Initial Schema=rmrrdb_20160322" />
      <!--web service-->
      <!--<add name="DBConnectionString" connectionString="User Id=postgres;Password=rochelabs;Host=localhost;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false;" />-->

    </connectionStrings>
    <elements>
      <!--*******************************************************************************************-->
      <!--
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>
      -->
      <!--ConfigurationProductionDaemon-->
      <!--
      <add key="LabSystemsHandbookWebConfig" value="E:\dev.labsystemshandbook\web.config" />     -->
      <!--fully qualafied path to real application web.config-->
      <!--
      <add key="PostgresSchemaBlackList" value="pg_toast~pg_temp_1~pg_toast_temp_1~pg_catalog~public~information_schema" />-->
      <!--ignore schemas in this list-->
      <!--
      <add key="ProductionURL" value="https://labsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="StagingURL" value="http://staginglabsystemshandbook.milliman.com/labsystemshandbook/default.aspx" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      -->
      <!--CLSConfigurationServices Web.Config-->
      <!--
      <add key="ValidIPs" value="*" />
      <add key="MakeLiveDirectory" value="E:\dev.labsystemshandbookconfigurationservices\MakeLive" />
      <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe" />
      <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe" />
      <add key="Memory" value="80"/>
      <add key="DiskSpace" value="80"/>
      <add key="DiskDrives" value="c"/>-->
      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
      <!--
      -->
      <!--*******************************************************************************************-->

      <add key="ProductionSiteWebConfig" value="Prod1"/>
      <add key="FromEmail"   value="Prod2"/>
      <add key="Subject"   value="Prod3"/>
      <add key="SMTPServer" value="Prod4"/>
      <add key="SMTPPort"   value="Prod5"/>
      <!--ConfigurationProductionDaemon-->
      <add key="LabSystemsHandbookWebConfig" value="Prod6"/>
      <!--fully qualafied path to real application web.config-->
      <add key="PostgresSchemaBlackList" value="Prod7"/>
      <!--ignore schemas in this list-->
      <add key="ProductionURL" value="Prod8"/>
      <add key="StagingURL" value="Prod9"/>
      <!--CLSConfigurationServices Web.Config-->
      <add key="ValidIPs" value="Prod10" />
      <add key="MakeLiveDirectory" value="Prod11" />
      <add key="PGDump" value="Prod12"/>
      <add key="PGRestore" value="Prod13"/>


      <!--END ConfigurationProductionDaemon-->
    </elements>
  </prod>

  <!--<appSettings/>-->
  <connectionStrings configSource="ConnectionStrings.config" />
  <!--SMTP.config-->
  <system.net>
    <mailSettings>
      <smtp configSource="SMTP.config" />
    </mailSettings>
  </system.net>

  <!--Production Web site Configuration-->
  <system.web>
    <!--CLSConfiguration Web.Config-->
    <identity impersonate="true" />
    <!--<authentication mode="Windows"></authentication>-->
    <!--Eror when publishing that it is an error to use a section registered as allowDefinition='MachineToApplicaiton' beyond application leleve. This error can be caused by the virtual directory not being configured as an applicaiton in IIS-->
    <authorization>
      <allow roles="ROOT_MILLIMAN\Indy Users"/>
    </authorization>
    <!--END CLSConfiguration Web.Config-->

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!--CLSConfigurationServices Web.Config-->
    <!--NOT FOR WEB-->
    <!--<httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>-->

    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>

    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>

    <httpRuntime maxRequestLength="32768"/>
    <!--<sessionState timeout="1440"></sessionState>-->
    <!--set timeout to 24 hours 1440mins-->
    <!--same error as above-->
  </system.web>

  <system.webServer>
    <!--CLSConfigurationServices Web.Config-->
    <validation validateIntegratedModeConfiguration="false" />
    <!--NOT FOR WEB-->
    <!--<modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>-->
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="33554432" />
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="Telerik.Skin" value="Office2010Blue" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>

</configuration>
