<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CLSdbDataContextConnectionString" connectionString="User Id=Afsheen.Khan;Host=indy-pgsql02;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=True;Initial Schema=rmrrdb_20160222" />
    </connectionStrings>
</configuration>