body {
    font-family: lucida grande, arial, helvetica,sans-serif;
    font-size: 12px;
    color: #555555;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    background-image: url(images/watermark.png);
}
a:link{text-decoration:none;color:#333333;}
a:visited{text-decoration:none;color:#333333;}
a:hover{text-decoration:none;color:#000000;}
a:active{text-decoration:none;color:#333333;}
a:focus{outline: none;}

/* UNIVERSAL PROPERTIES ----------------------------------- */
.clearBoth{clear:both;}
.clearBoth2{clear:Both;height:10px;}
.clearBoth3{clear:Both;height:20px;}
.underline{text-decoration:underline}
.italic{font-style:italic;font-size:12px;}
.regular{font-size:12px;}
.small{font-size:10px;}
.bold{font-weight:bold;}
.margin10{margin:10px;}
.floatRight{float:right;}
.floatLeft{float:left;}
.faint a{color:#999999;}
.faint a:hover{color:#000000;}
.pageBottomPadding{height:85px;}
.hr{padding:5px 0px 5px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:10px;}
.largeFont{font-size:40px;color:#ccc;}
.padding{height:20px;}

/* Login USER CONTROL----------------------------------- */
.liWrap input{font-size:10px;}
.liWrap input:focus{background-color:whitesmoke;color:#000;background-image:url('images/off.gif')}
.liWrap a{text-decoration:underline;}
.liWrap{width: 240px;min-height:200px; margin: 50px auto 10px auto; padding:10px 30px 30px 30px; border: 1px solid #ccc;background-color:#E6E6E6;font-size:10px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
.liTitle{font-size:20px;font-weight:bold;color:#fff;text-shadow:1px 1px 3px #ccc;}
.loginIcon{position:absolute;margin-left:271px;margin-top:0px;width:128px;height:128px;border:1px solid #e9e9e9;border-left:none;background-image:url(images/locked.png);-moz-border-radius-topright: 7px;-webkit-border-radius-topright: 7px;-moz-border-radius-bottomright: 7px;-webkit-border-radius-bottomright: 7px;}
.logoutIcon{position:absolute;margin-left:271px;margin-top:0px;width:128px;height:128px;border:1px solid #e9e9e9;border-left:none;background-image:url(images/unlocked.png);-moz-border-radius-topright: 7px;-webkit-border-radius-topright: 7px;-moz-border-radius-bottomright: 7px;-webkit-border-radius-bottomright: 7px;}
.LiMessage{color:Red;}

/* CREATE USER WIZARD CONTROL----------------------------------- */
.cuwWrap input{font-size:20px;}
.cuwWrap input:focus{background-color:whitesmoke;color:#000;}
.cuwWrap select{font-size:20px; width:225px;color:#999;}
.cuwWrap{width: 240px; padding: 10px 30px 30px 30px; margin: 50px auto 10px auto; border: 1px solid #ccc;background-color:#E6E6E6;font-size:16px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
.cuwTitle{font-size:30px;font-weight:bold;color:#fff;text-shadow:1px 1px 3px #ccc;}
.createUserIcon{position:absolute;margin-left:271px;margin-top:-35px;width:128px;height:128px;border:1px solid #e9e9e9;border-left:none;background-image:url(images/register.png);-moz-border-radius-topright: 7px;-webkit-border-radius-topright: 7px;-moz-border-radius-bottomright: 7px;-webkit-border-radius-bottomright: 7px;}
.cuwMessage{color:Red;}

/* PASSWORD RECOVERY USER CONTROL----------------------------------- */
.prWrap input{font-size:20px;}
.prWrap input:focus{background-color:whitesmoke;color:#000;}
.prWrap{width: 240px; padding: 10px 30px 30px 30px; margin: 50px auto 10px auto; border: 1px solid #ccc;background-color:#E6E6E6;font-size:10px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
.prTitle{font-size:30px;font-weight:bold;color:#fff;text-shadow:1px 1px 3px #ccc;}
.pwRecoveryIcon{position:absolute;margin-left:271px;margin-top:-35px;width:128px;height:128px;border:1px solid #e9e9e9;border-left:none;background-image:url(images/recover-pw.png);-moz-border-radius-topright: 7px;-webkit-border-radius-topright: 7px;-moz-border-radius-bottomright: 7px;-webkit-border-radius-bottomright: 7px;}
.prMessage{color:Red;}

/* (default) ajax password strength indicator option 1 - simple text */
.passwordStrengthIndicator {background-color:Gray; color:White; font-family:Arial; font-size:x-small; font-style:italic; padding: 2px 3px 2px 3px; margin-top: 2px;}

/* captcha */
.captcha{background-image:url(images/captcha-bg.jpg);border:1px solid #fff;}

/* temporary content css - for home page login box */
.buttonCSS a{display:block; float: left; width:auto; border: 1px solid #CCCCCC; font-size: 11px; color: #000000; margin-right: 3px; margin-top: 6px; background-image: url('images/temporary/button-bg.jpg'); padding: 6px;}
.buttonCSS a:hover{border: 1px solid #A0B992; background-image: url(images/temporary/button-hover-bg.jpg); color: #000000; text-decoration: none;}
.tempLoginWrap{margin:100px auto auto auto;width:500px;border:1px solid #ccc;padding:15px;-moz-border-radius: 7px;-webkit-border-radius: 7px;}

/********************CUSTOMIZED*****************/
/*Standard Generic*/
.space{margin-bottom:5px}
.alert{border:1px solid transparent;border-radius:4px!important;margin-bottom:6px!important;padding:4px!important}
.weak{color:#999;font-size:14px}
.labelweak{color:#5f6162;font-size:12px;margin:5px -6px 3px 8px}
.required:after{content:" *";font-weight:700;color:#c1c1c1;font-size:20px;margin:0;float:right}
.textbox-focus{border:2px solid #00C;background:#def}
.roundShadowContainer{background:#fefefe;border:1px solid #c4cddb;padding:0;margin:0 auto;border-top-color:#d3dbde;border-bottom-color:#bfc9dc;box-shadow:0 1px 1px #ccc;border-radius:5px;}
.roundShadowContainer h2{margin:0;padding:10px 0;font-size:18px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer h3{margin:0;padding:10px 0;font-size:16px;text-align:center;background:#ebebec;border-bottom:1px solid #dde0e7;box-shadow:0 -1px 0 #fff inset;border-radius:5px 5px 0 0;text-shadow:1px 1px 0 #fff;font-weight:700}
.roundShadowContainer ul,li{margin:0;padding:0;list-style-type:square}
.roundShadowContainer input{border:1px solid #d5d9da;border-radius:5px;box-shadow:0 0 5px #e8e9eb inset;outline:0}
.roundShadowContainer {width:435px;}
.fieldSetWithBorder{border:2px dashed #eee;margin:2px 2px 3px 3px;overflow:hidden;padding:2px;width:217px}
.fieldSetWithBorder legend{font-size:14px;line-height:inherit}
.first-of-type{margin:4px 3px 4px -2px}
.addBar{font-size:14px;font-weight:700;margin:-1px 36px -3px;overflow:hidden;width:300px}
.ddl{border:2px solid #d5d9da;border-radius:3px;padding:3px;text-indent:.01px;font-size:13px;font-family:Georgia;margin:6px 6px 0 2px}
/*Password Generic*/
#divPasswordCriteriaContainer{font-size:.8em;}
#divPasswordCriteriaContainer{display:none;padding:6px;position:absolute;width:236px;z-index:2000;}
#divPasswordCriteriaContainer:before{content:"\25B2";position:absolute;top:-10px;left:45%;font-size:14px;line-height:12px;color:#ddd;display:block}
#divPasswordCriteriaContainer h1,h2,h3,h4{margin:0 0 10px;padding:0;font-weight:400}
#divPasswordCriteriaContainer ul,li{list-style-type:circle;margin:4px 3px 4px 4px;padding:2px 1px 3px 9px;width:203px}
.invalidPassword,.validPassword{padding-left:6px;line-height:12px}
.invalidPassword{color:#ec3f41}
.validPassword{color:#3a7d34}
.badMatch{color:#f66}
.dashedSeparator{margin:25px 0;border-bottom:dashed 1px #666}
/*bootstra specifc CREATES ISSUE FOR THE SCREEN ADD USER*/
.container{width:832px}
td{padding:4px!important}
.form-control{height:30px}
.table{margin-bottom:5px}
.page-header {padding-bottom: 10px;margin: 5px 0 10px;border-bottom: 1px solid #eee;}
/*password hint*/
.PWHsmallContainer{background: #f4f9fb none repeat scroll 0 0;border: 2px dashed #ddd;width: 349px;}     
.PWHshowHideDivHeader{width: 123px;padding:0;margin:4px 8px 9px 1px;cursor:pointer;}
.showPassword{float:right;margin:-25px 13px 0 0}          
.listUL{font-size:12px;list-style-type:square;margin:2px 0 1px 12px;padding:2px 1px 1px 6px;width:312px}
.listLi{font-size:12px;list-style-type:square;margin:3px 0 -2px 32px;padding:2px 1px 1px 6px;width:267px}   
#divPasswordHintCriteria{background:#fefefe none repeat scroll 0 0;border:1px solid #ddd;
                            border-radius:5px;box-shadow:0 1px 3px #ccc;display:none;font-size:.8em;
                            height:161px;padding:6px;position:absolute;width:365px;z-index:2000}
/*Layout*/
.containerWrap{text-align:center;padding:15px;background-color: #f5f5f5;width: 100%;}
.left-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px;vertical-align:top}
.right-div{display:inline-block;max-width:435px;text-align:left;padding:3px;margin:3px}
.left{float: left;margin: 5px; text-align: left;}
.right{float:right;margin:5px;text-align: left;}
/*This code generates a gray button that will be highlighted when user hover over it:Example used in Parts Management(transportation)*/
.buttonGray{background:#EEE none repeat scroll 0 0;border:1px solid #DDD;color:#373737;cursor:pointer;font-weight:700;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;text-decoration:none;text-shadow:0 1px 1px #FFF;width:100px;height:25px;font-size:12px;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px}
.buttonGray:hover{border:solid 1px #CCC;background:#CCC none repeat scroll 0 0}
/* Text Box  */     
.standardTextBox{-moz-box-shadow:5px 5px 5px #ccc;-webkit-box-shadow:5px 5px 5px #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #CCC;border-radius:3px 3px 3px 3px;box-shadow:1px 1px 1px 1px #CCC;padding:3px;text-align:left;background-color:#F0F8FF;color:gray}
/*Firefox, Safari/Chrome, Opera and IE9 users should see a grey fading shadow under this box.*/
.standardTextBox:active{background:#eee;-moz-box-shadow:inset 0 0 2px #5F5F5F;-webkit-box-shadow:inset 0 0 2px #5F5F5F;box-shadow:inset 0 0 2px #5F5F5F}
.standardTextBox:hover{border:solid 1px #999;-moz-box-shadow:0 0 10px #999;-webkit-box-shadow:0 0 10px #999;box-shadow:0 0 2px #999}                                                                                                        
.standardTextBox:focus{outline:none;border:solid 1px #73A6FF;background:#EFF5FF;color:#000}
/* info box*/
.infoBox{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;margin:0 auto!important}
.engravedHeader{color:#333;font: 80px 'LeagueGothicRegular'; text-shadow: 0px 1px 0px rgba(255,255,255,255);}