<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basichttp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tw151dev.unitysandbox.com/Unity/UnityService.svc/Unityservice"
                binding="basicHttpBinding" bindingConfiguration="basichttp"
                contract="AllscriptsUnity.IUnityService" name="basichttp" />
        </client>
    </system.serviceModel>
-->

  <appSettings>
    <add key="unity.endpoint" value="http://10-as-web01.nbmc.corp/Unity/UnityService.svc/unityservice" />
    <!-- <add key="unity.endpoint" value="http://tw151dev.unitysandbox.com/Unity/UnityService.svc/Unityservice" />-->
    <add key="appname" value="Intelliware.ClinicalDataExtractor.TestApp" />
    <add key="svc.username" value="Intel-4567-ClinicalDa-test" />
    <add key="svc.password" value="#ntfl2#w3R%9L#nbcaLd8T@fXtr@at" />
    <add key="ehr.username" value="nbmcUE01" />
    <!--<add key="ehr.username" value="nbmcrmeraz" />-->
    <!--<add key="ehr.password" value="meraz01" />-->
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basichttp"
                 maxReceivedMessageSize = "10000000">
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="unlimitedSize">
          <binaryMessageEncoding />
          <!--  <textMessageEncoding messageVersion="Soap12" /> -->
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>
        </binding>
      </customBinding>

    </bindings>

    <client>
      <endpoint address="http://10-as-web01.nbmc.corp/Unity/UnityService.svc/unityservice"
          binding="basicHttpBinding" bindingConfiguration="basichttp"
          contract="AllscriptsUnity.IUnityService" name="basichttp" />

      <endpoint binding="customBinding" bindingConfiguration="unlimitedSize"
          contract="AllscriptsUnity.IUnityService" name="unlimitedSize" />
    </client>
  </system.serviceModel>

</configuration>