<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <appSettings>
    <!--the root of where the QV files live-->
    <add key="QVDocumentRoot" value="D:\PRMSystem\QVDocuments" />
    <add key="CovisintTags" value="Preferred_Email~PracticeName~OrginizationAccountNumber~InvitingPhysicianUserId~CovisintUniqueId" />
    <add key="MillimanTags" value="InitialContext~OtherControl" />
    <add key="DBConnections" value="Database 1~Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dbMyCMS.mdf;Integrated Security=True;User Instance=False' providerName='System.Data.SqlClient~Database 2~Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\dbMyCMS.mdf;Integrated Security=True;User Instance=False' providerName='System.Data.SqlClient" />
    <add key="QVTemplates" value="CareCoord_V1.234~CareCoord_V1.4582~CareCoord_V2.34" />
    <add key="DataSources" value="CareCoord_DB_V1.234~CareCoord_DB_1.235+" />
    <add key="Reviewers" value="Jill.Herbold@milliman.com~David.Pierce@milliman.com~Shea.Parkes@milliman.com~Paul.Houchens@milliman.com~Art.Wilmes@milliman.com" />
    <add key="FriendlyServerName" value="PRM" />
    <add key="email_from" value="PMC_IndySS01@Milliman.com" />
    <add key="email_to" value="van.nanney@milliman.com~blake.polen@milliman.com" />
    <add key="email_subject" value="Project Published" />
    <add key="emailserver" value="smtp.milliman.com" />
    <add key="emailserverport" value="25" />
    <add key="emailaccount" />
    <add key="emailpassword" />
    <add key="publishinghistory" value="D:\PRMSystem\PublishingHistory" />
    <add key="HTMLtoPDFConverter" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="HTMLtoImageConverter" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltoimage.exe" />
    <add key="AllowUnsignedQVWs" value="true" />
    <add key="HierarchyDebugFileTemplate" value="DebugFileTemplate/Care_Coordinator_Report.txt" />
    <add key="hidden_dirs" value="history~ReducedUserQVWs~ReducedCachedQVWs" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <!--    <add name="dbMyCMSConnectionString" connectionString="Data Source=L122211DBSS2001;Initial File Name=E:\InstalledApplications\MillimanSite\PortalDB\PortalDB.mdf;Integrated Security=SSPI;Connect Timeout=60;Encrypt=False;User Instance=False;"/>  -->
    <add name="dbMyCMSConnectionString" connectionString="Server=INDY-SS01.Milliman.com;Database=NewPortalDB;Trusted_Connection=Yes;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="2.0" maxRequestLength="1000000000" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--         <add assembly="Telerik.Web.Design, Version=2013.3.1114.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />-->
      </assemblies>
    </compilation>
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <!-- <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />
    <siteMap defaultProvider="AdminSiteMapProvider" enabled="true">
      <providers>
        <add name="AdminSiteMapProvider" description="Admin SiteMap Provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Admin/Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules />
  </system.web>
  <system.webServer>
    <handlers>
      <!-- IMPORTANT!************************************************************* -->
      <!-- tell IIS to use the captcha image handler -->
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="CaptchaImage" verb="*" path="CaptchaImage.aspx" preCondition="integratedMode" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1797783552" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type=" MillimanReportReduction.ServiceSupport.ServiceKeyBehaviorExtensionElement, MillimanReportReduction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="MPMCServicesSoap" maxReceivedMessageSize="2000000000" maxBufferSize="2000000000" maxBufferPoolSize="2000000000" closeTimeout="00:10:00" sendTimeout="12:00:00" receiveTimeout="12:00:00" openTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="2000000000" maxStringContentLength="2000000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:4799/QMS/Service" behaviorConfiguration="ServiceKeyEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS" name="BasicHttpBinding_IQMS" />
      <endpoint address="http://127.0.0.1:4799/ANY/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService" name="BasicHttpBinding_IQTService" />
      <endpoint address="https://prm.milliman.com/prm_projectmanagementservices/MPMCServices.asmx" binding="basicHttpBinding" bindingConfiguration="MPMCServicesSoap" contract="MPMCServices.MPMCServicesSoap" name="MPMCServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>