<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Cdr_WoahConnection" connectionString="User Id=indy-cdrbot-0273woh;password=...;Host=Indy-CDR0273WOH;Port=5432;Database=cdr_woh;Initial Schema=public" />
    <add name="Cdr_WoahConnection_Tom" connectionString="User Id=tom;password=tom;Host=localhost;Port=5433;Database=cdr_woh;Initial Schema=public" />
    <add name="CdrContextConnectionString" connectionString="User Id=indy_jenkins_0273woh;Host=Indy-cdr0273woh;Port=5432;Database=cdr_woh;Initial Schema=public" />
  </connectionStrings>
  <appSettings file="">
    <clear/>
    <add key="CdrPostgreSQLConnectionString" value="Cdr_WoahConnection" />
    <add key="NewBayClinicEmrMongoCredentialConfigFile" value="H:\.prm_config\.mongodb" />
    <add key="NewBayClinicEmrMongoCredentialSection" value="BayClinicTestMongoCredentials" />
    <add key="NewBayClinicEmrMongoData" value="BayClinicTestMongoCredentials" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>