<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RedoxCacheContextConnectionString" connectionString="User Id=tom;Host=localhost;Port=5433;Database=redoxcache;Initial Schema=public" />
    <add name="DefaultRedoxCacheConnectionString" connectionString="User Id=tom;Password=tom;Host=localhost;Port=5433;Database=redoxcache;Initial Schema=public" />
  </connectionStrings>
</configuration>