<appSettings>
  <add key="MaxDocumentCALsToDelete" value="2" />
  <add key="MaxNamedCALsToDelete" value="100" />
  <add key="MinimumDocCalAgeHoursToDelete" value="48" />
  <add key="MinimumNamedCalAgeHoursToDelete" value="48" />
  <!-- following 2 are probably for console application only -->
  <add key="AllowDeleteOfUndatedDocCals" value="false" />
  <add key="AllowDeleteOfUndatedNamedCals" value="false" />
</appSettings>
