<appSettings>
  <add key="MaxDocumentCALsToDelete" value="2" />
  <add key="MaxNamedCALsToDelete" value="100" />
  <add key="MinimumDocCalAgeHoursToDelete" value="72" />
  <add key="MinimumNamedCalAgeHoursToDelete" value="72" />
  <add key="AllowDeleteOfUndatedDocCals" value="false" />
  <add key="AllowDeleteOfUndatedNamedCals" value="false" />
</appSettings>
