<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxAgeInDays" value="3"/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="MillimanReportReduction.ServiceSupport.ServiceKeyBehaviorExtensionElement, MillimanReportReduction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://prm.milliman.com:4799/QMS/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS"
        name="BasicHttpBinding_IQMS"/>
      <endpoint address="https://prm.milliman.com:4799/ANY/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService"
        name="BasicHttpBinding_IQTService"/>-->
      <endpoint address="https://localhost:4799/QMS/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS" name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="https://localhost:4799/ANY/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService" name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>

</configuration>