
<br />

<img src="https://hcintel.milliman.com/docs/milliman_small.jpg" alt="Milliman HCIntel" /><br><br />

_DATETIME_<br><br>

You initiated a request to reset your account password for access to <b>Milliman&#39;s Healthcare Intelligence Portal</b> .<br><br>
Account: _EMAIL_<br>
Temporary Password:_NEWPASSWORD_<br><br>

To access the portal - visit the link (*HTTPS is required) <br /><br /> <a href="https://hcintel.milliman.com" target="_blank">https://hcintel.milliman.com</a> <br /><br /> and enter your credentials. (shown above)<br><br />
If you did not initiate this request,  please notify the portal administrator at <a href="mailto:hcintel.support@milliman.com?subject=Unauthorized Password Request">hcintel.support@milliman.com</a><br /><br />


