<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net configSource="log4net.config" />

  <appSettings>
    <add key="ExceptionLoggerFile" value="0" />
    --><!--Address and info related to sending emails from the system--><!--
    <add key="SmtpServer" value="10.50.4.150" />  --><!--SendMailSTMPHostAddress--><!--
    <add key="SmtpPort" value="25" />
    <add key="SendDebugEmail" value="true" />
    
    --><!--Email--><!--
    <add key="EmailFrom" value="Afsheen.Khan@milliman.com" />
    <add key="EmailTo" value="Afsheen.Khan@milliman.com" />
    <add key="EmailCC" value="Afsheen.Khan@milliman.com" />    
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />

    --><!--ExceptionLogger--><!--
    <add key="ExceptionFileDirectory" value="C:\ProductionLogs\LogFileProcessor\" />
    <add key="ExceptionFileName" value="ExceptionLogger" />
  </appSettings>

</configuration>-->