<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net configSource="log4net.config" />

  <appSettings>
    <add key="ExceptionLoggerFile" value="0" />
    <add key="SendMailMessagesFromAddress"  value="Afsheen.Khan@milliman.com"/>
    <add key="SendMailSTMPHostAddress" value="10.50.4.150"/>
    <add key="SendMailSMTPUserName" value="Test"/>
    <add key="SendMailSMTPUserPassword" value="foofoolarue"/>

    <!--For any project to include looger you need to have these keys updated
    <add key="LoggerFileDirectory" value="\\indy-ss01\LogFileProcessor\LoggerFileDirectory\" />
    <add key="LoggerFileName" value="Logger" />-->
  </appSettings>

</configuration>