<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CLSConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LabSystemsHandbookWebConfig" value="e:\labsystemshandbook\web.config"/>
    <!--fully qualafied path to real application web.config-->
    <add key="PostgresSchemaBlackList" value="pg_toast~pg_temp_1~pg_toast_temp_1~pg_catalog~public~information_schema"/>
    <!--ignore schemas in this list-->
    <add key="ProductionURL" value="https://labsystemshandbook.milliman.com/beta/default.aspx"/>
    <add key="StagingURL" value="http://staginglabsystemshandbook.milliman.com/labsystemshandbook/default.aspx"/>
    <add key="PGDump" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Dump.exe"/>
    <add key="PGRestore" value="C:\Program Files\PostgreSQL\9.5\bin\PG_Restore.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="User Id=roche_admin;Password=MdDB4gHV;Host=indy-pgsql01.milliman.com;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false;" />

    <!--<add name="DBConnectionString" connectionString="User Id=postgres;Password=jellyfish;Host=localhost;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=false" />-->
    <!--<add name="DBConnectionString" connectionString="User Id=postgres;Password:jellyfish;Host=localhost;Database=Roche_Medicare_Reimbursement_Develop;Integrated Security=True;Initial Schema=rmrrdb_20160304" />-->
  </connectionStrings>  
    
    <system.web>
      <identity impersonate="true" />
      <authentication mode="Windows"></authentication>
      <authorization>
        <!--<allow roles="ROOT_MILLIMAN\RocheLabSystemsAdmins"/>-->
        <allow roles="ROOT_MILLIMAN\Indy Users"/>
        <!--<deny users="*"/>-->  <!--comment out this line when working in dev studio-->
      </authorization>
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
          <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
    </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CLSConfiguration.Properties.Settings>
      <setting name="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
        serializeAs="String">
        <value>http://localhost:2678/CLSConfigurationServices.asmx</value>
      </setting>
    </CLSConfiguration.Properties.Settings>
  </applicationSettings>
</configuration>
