<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CLSdbDataContextConnectionString" 
         connectionString="User Id=Afsheen.Khan;&#xD;&#xA;                               
        Host=indy-pgsql02;&#xD;&#xA;                               
        Database=Roche_Medicare_Reimbursement_Develop;&#xD;&#xA;                               
        Integrated Security=True;&#xD;&#xA;                               
        Initial Schema=rmrrdb_20160218" />
  </connectionStrings>
</configuration>