<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ProductName" value="PRM" />
    <add key="ValidIPs" value="127.0.0.1 localhost 10.3.200.15"/>
    <add key="Logfile" value="Logs/Report.txt" />
    <add key="HCIntelCache" value="D:\InstalledApplications\PRM\Cache" />
    <add key="DatabaseBrowserURL" value="https://prm.milliman.com/MillimanSQLUtility/Sql.aspx" />
    <!--where the rules are located-->
    <!--<add key="RepoFilePath" value="E:\InstalledApplications\MillimanSite\Rules\rules.xml" />-->
    <add key="RepoFilePath" value="D:\InstalledApplications\PRM\Rules\rules.xml" />
    <!--the root of where the QV files live-->
    <add key="QVDocumentRoot" value="D:\InstalledApplications\PRM\QVDocuments" />
    <add key="ResetUserInfoRoot" value="D:\InstalledApplications\PRM\ResetUsers" />
  </appSettings>
  <connectionStrings>
    <add name="dbMyCMSConnectionString" connectionString="Server=.\SQLExpress;Database=PortalDBSFv2M1;Trusted_Connection=Yes;User Instance=False;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <!-- <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbMyCMSConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <!-- CUSTOM SQLMembership TABLE PROFILES Provider -->
    <profile defaultProvider="MyCMSTableProfileProvider" automaticSaveEnabled="false" enabled="true">
      <providers>
        <clear />
        <add name="MyCMSTableProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" table="aspnet_CustomProfile" type="CustomProfile.SqlTableProfileProvider" />
        <add name="MyCMSStoredProcedureProfileProvider" applicationName="MyCMS" connectionStringName="dbMyCMSConnectionString" type="CustomProfile.SqlStoredProcedureProfileProvider" setProcedure="sp_wsat_SetCustomProfileData" readProcedure="sp_wsat_GetCustomProfileData" />
      </providers>
      <properties>
        <group name="Personal">
          <add name="FirstName" type="String" defaultValue="[null]" customProviderData="FirstName;nvarchar" />
          <add name="LastName" type="String" defaultValue="[null]" customProviderData="LastName;nvarchar" />
          <add name="Gender" type="String" defaultValue="[null]" customProviderData="Gender;nvarchar" />
          <add name="BirthDate" type="DateTime" defaultValue="[null]" customProviderData="BirthDate;datetime" />
          <add name="Occupation" type="String" defaultValue="[null]" customProviderData="Occupation;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="PersonalWebsite;nvarchar" />
        </group>
        <group name="Address">
          <add name="Country" type="String" defaultValue="[null]" customProviderData="Country;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address;nvarchar" />
          <add name="AptNumber" type="String" defaultValue="[null]" customProviderData="AptNumber;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode;nvarchar" />
        </group>
        <group name="Contacts">
          <add name="DayPhone" type="String" defaultValue="[null]" customProviderData="DayPhone;nvarchar" />
          <add name="DayPhoneExt" type="String" defaultValue="[null]" customProviderData="DayPhoneExt;nvarchar" />
          <add name="EveningPhone" type="String" defaultValue="[null]" customProviderData="EveningPhone;nvarchar" />
          <add name="EveningPhoneExt" type="String" defaultValue="[null]" customProviderData="EveningPhoneExt;nvarchar" />
          <add name="CellPhone" type="String" defaultValue="[null]" customProviderData="CellPhone;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax;nvarchar" />
        </group>
        <group name="Company">
          <add name="Company" type="String" defaultValue="[null]" customProviderData="Company;nvarchar" />
          <add name="Address" type="String" defaultValue="[null]" customProviderData="Address2;nvarchar" />
          <add name="City" type="String" defaultValue="[null]" customProviderData="City2;nvarchar" />
          <add name="State" type="String" defaultValue="[null]" customProviderData="State2;nvarchar" />
          <add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode2;nvarchar" />
          <add name="Phone" type="String" defaultValue="[null]" customProviderData="Phone2;nvarchar" />
          <add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax2;nvarchar" />
          <add name="Website" type="String" defaultValue="[null]" customProviderData="Website2;nvarchar" />
          <add name="Mobile" type="String" defaultValue="[null]" customProviderData="Mobile;nvarchar" />
        </group>
        <group name="Preferences">
          <add name="Culture" type="String" defaultValue="en-US" customProviderData="Culture;nvarchar" />
          <add name="Newsletter" type="String" defaultValue="[null]" customProviderData="Newsletter;nvarchar" />
        </group>
        <group name="AccessOptions">
          <add name="AccessType" type="System.String" defaultValue="Milliman Login" customProviderData="AccessType;nvarchar" />
          <add name="DBRequired" type="System.Boolean" defaultValue="0" customProviderData="DBRequired;BIT" />
          <add name="MustChangePassword" type="System.Boolean" defaultValue="0" customProviderData="MustChangePassword;BIT"/>
        </group>
      </properties>
    </profile>
    <!-- Because the password format is set to ENCRYPTED, a machine key like below is required. If you don't want to use the one provided below, you can create your own key at: http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx. If you set the password format to Clear or Hashed, you can delete or comment out this machine key. -->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6" />

    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="MillimanReportReduction.ServiceSupport.ServiceKeyBehaviorExtensionElement, MillimanReportReduction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="1000000000" maxBufferSize="1000000000" maxBufferPoolSize="1000000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService" maxReceivedMessageSize="1000000000" maxBufferSize="1000000000" maxBufferPoolSize="1000000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://prm2.milliman.com:4799/QMS/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS"
        name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="https://prm2.milliman.com:4799/ANY/Service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService"
        name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>
</configuration>