<appSettings>
  <add key="ProductName" value="PRM_CI_((branch_name))" />
  <add key="MaxDocsPerDocumentCAL" value="7" />
  <add key="DocCALCost" value="140.40" />
  <add key="NamedCALCost" value="1000.00" />
  <add key="ExternalServerName" value="https://prm2.milliman.com" />
  <add key="ShowFilter" value="van.nanney@milliman.com~david.pierce@milliman.com~blake.polen@milliman.com~art.wilmes@milliman.com~tom.puckett@milliman.com~afsheen.khan@milliman.com" />
  <add key="Logfile" value="Logs/Report.txt" />
  <add key="IgnoreTrustCertificates" value="false" />
  <add key="QVSubRoot" value="" />
  <add key="HCIntelCache" value="D:\InstalledApplications\prm_ci_support\runtime\Cache" />
  <add key="UserSpecificDownloads" value="D:\InstalledApplications\prm_ci_support\runtime\CustomUserDownloads\downloads.xml" />
  <add key="CARECOORD" value="Care Coordinator Report.qvw" />
  <add key="POPULATION" value="Care Coordinator Report.qvw" />
  <add key="COSTMODEL" value="Cost Models.qvw" />
  <add key="Care Coordinator Report.qvw" value="POPULATION" />
  <add key="Cost Models.qvw" value="COSTMODEL" />
  <add key="RepoFilePath" value="D:\InstalledApplications\prm_ci_support\runtime\Rules\rules.xml" />
  <!--special case for PMC app-->
  <add key="QVDocumentRoot" value="D:\InstalledApplications\prm_ci_support\runtime\QVDocuments" />
  <add key="ResetUserInfoRoot" value="D:\InstalledApplications\prm_ci_support\runtime\ResetUsers" />
  <!--these email related keys reference same things as "email..." keys below-->
  <add key="EmailFrom" value="PRM.Test@milliman.com" />
  <add key="EmailSubject" value="Milliman PRM Password Recovery" />
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="SmtpUserName" value="" />
  <add key="SmtpPassword" value="" />
  <!--end duplicated keys-->
  <add key="SendDebugEmail" value="true" />
  <add key="EmailDebugAccount" value="prm.test@milliman.com" />
  <add key="SupportEmail" value="PRM.Test@milliman.com" />
  <add key="EmailBodyFile" value="templates/email.html" />
  <add key="SmtpMailPickup" value="D:\InstalledApplications\prm_ci_support\runtime\eMailPickup" />
  <add key="TrustedMailRelayService" value="" />
  <add key="SecureLinkLifeSpan" value="3" />

  <!--Uncomment and change port number when running in visual studio for local debugging-->
  <!--<add key="ClientAdminApp" value="http://localhost:49576/default.aspx" />
  <add key="ClientPublishingApp" value="http://localhost:8456/default.aspx" />-->

  <!--Uncomment when using in PreStaging for verification before pushing to Staging-->
  <!--<add key="ClientAdminApp" value="https://prm2.milliman.com/prm_ci_((branch_name))_ClientAdmin/default.aspx" />
    <add key="ClientPublishingApp" value="https://prm2.milliman.com/prm_ci_((branch_name))_ClientPublisher/default.aspx" />-->

  <!--Uncomment when pushing to STAGING for QA testing-->
  <add key="ClientAdminApp" value="https://prm2.milliman.com/prm_ci_((branch_name))_ClientAdmin/default.aspx" />
  <add key="ClientPublishingApp" value="https://prm2.milliman.com/prm_ci_((branch_name))_ClientPublisher/default.aspx" />

  <!--This URL for the SQL browser is currently not active, but may be one day - SQL browser application is already functional-->
  <add key="DatabaseBrowserURL" value="https://prm2.milliman.com/MillimanSQLUtility/Sql.aspx" />
  <add key="MillimanGroupMap" value="D:\InstalledApplications\prm_ci_support\runtime\GroupMap\Groups.xml" />
  <add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0273WOH01_Medicaid_CCR~0000EXT01_NewYork_LIVE BPCI - Premier~0000EXT01_NewYork_LIVE BPCI - USPI~0000EXT01_NewYork_LIVE BPCI - CAM~0032MMD01_Medicaid_All~0000EXT01_NewYork_LIVE BPCI - CJR~0032MMD01_Medicaid_All~0032MMD01_Medicaid_StateOnly~0032MMD01_Medicaid_MSA_StateOnly~0032MMD01_Medicaid_All~0273ACO01_Medicare_All_201601~0000EXT01_NewYork_LIVE - OCM Reporting~0273ACO01_Medicare_CCR~0273AHN01_Medicare_CCR~0273AOH01_Medicare_CCR~0273APR01_Medicare_CCR~0273CHI01_Medicare_CCR~0273FAI01_Medicare_CCR~0273SCH01_Medicaid_CCR~0273FAI01_Medicare_CCR~0273SHA01_AETNA_CCR~0273SHA01_EBP_CCR~0273SHA01_Medicare_CCR~0273SHA01_UHC_CCR~0032IWM01_Medicaid_EQD~0032ILM01_Medicaid_ILM_EQD~0273EVH01_Envision_EE_CCR~0273EVH01_Medicare_CCR~0173AKH01_Medicaid_EQD~273NJH01_Medicare_CCR~0273CHA01_Medicaid_CCR~0273PRI01_Clover_CCR~0273SHA01_Seton_Review_CCR~0273UTS01_Medicare_CCR" />
  <add key="SuperGroupFilePath" value="D:\InstalledApplications\prm_ci_support\runtime\SuperGroups\SuperGroups.xml" />
  <add key="DefaultAccountLockoutTimeSpan" value="5" />
  <add key="UseSSLForQVServiceCalls" value="true"/>
  <add key="AllowedSpecialCharactersInPassword" value="[~!@#$%^&amp;*;?+_.]"/>
  <add key="AllowedSpecialCharactersInUserName" value="!,-,~,_,`,',^" />
  <add key="AllSpecialChars" value="[~!@#$%^&amp;*;?+_.`&lt;,&gt;':/[\]|{}()=-]" />
  <add key="ApplicationRefreshTime" value="18"/>
  <!--new from milliman admin-->

  <add key="AdminEmail" value="PRM.Test@Milliman.com" />
  <add key="SupportEmailWelcome" value="Milliman PRM Account Information" />
  <add key="PasswordResetSubject" value="PRM Password Reset" />
  <add key="IgnoreCaptchaInput" value="false" />
  <add key="BadCharactersInFriendlyName" value="`,',~,@,#,^,;,:,.,*"/>
  <add key="BadCharactersInFriendlyNameDoubleQuote" value="&quot;"/>
  <add key="EmailLocalAllowedChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!#$%&amp;'*+-/=?^_`{|}~."/>
  <add key="EmailServerAllowedChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-."/>

  <!--new from milliman client admin-->

  <add key="QVLogDirectory" value="D:\InstalledApplications\prm_ci_support\runtime\FullBackup_Logs\QVLogs" />
  <add key="ShowLoginsForLastXDays" value="60" />
  <add key="Telerik.Skin" value="Office2010Silver" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

  <!--new from milliman client publisher-->

  <add key="RunWithoutSSL" value="true" />
  <add key="AutoInclusionGroups" value="0273WOH01_Medicaid_WOAH" />
  <add key="PrimaryReductionTimeoutSeconds" value="300" />
  <add key="ClientPublisherQVDocuments" value="D:\InstalledApplications\prm_ci_support\runtime\CPpub" />
  <add key="ReductionServerRoot" value="\\indy-prm-2\ReductionRoot" />
  <add key="ReductionServerUser" value="ProdReductionUser" />
  <add key="ReductionServerPswd" value="@Funhouse001" />
  <add key="ReductionServerDomain" value="INDY-PRM-2" />
  <add key="DebugConfigurationLimit" value="3" />

  <!--new from milliman project management services-->

  <add key="ValidIPs" value="127.0.0.1 localhost 74.116.174.22 10.46.101.22"/>

  <!--new from milliman PMC-->

  <add key="CovisintTags" value="Preferred_Email~PracticeName~OrginizationAccountNumber~InvitingPhysicianUserId~CovisintUniqueId"/>
  <add key="MillimanTags" value="InitialContext~OtherControl"/>
  <!--not sure if we need this here since it is a connection string-->
  <add key="DBConnections" value="Server=.\SQLExpress;Database=PortalDB_CI;Trusted_Connection=Yes;User Instance=False;" />
  <add key="DataSources" value="CareCoord_DB_V1.234~CareCoord_DB_1.235+"/>
  <add key="FriendlyServerName" value="PRM_CI_((branch_name))"/>
  <!--these email related keys reference same things as "smtp..." keys above-->
  <add key="email_from" value="PMC_PRM2_CI@Milliman.com"/>
  <add key="email_subject" value="Project Published"/>
  <add key="emailserver" value="smtp.milliman.com"/>
  <add key="emailserverport" value="25"/>
  <add key="emailaccount"/>
  <add key="emailpassword"/>

  <!--end duplicated keys-->

  <add key="email_to" value="van.nanney@milliman.com"/>
  <add key="publishinghistory" value="D:\InstalledApplications\prm_ci_support\runtime\PMC_Directories\PublishingHistory"/>
  <add key="HTMLtoPDFConverter" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe"/>
  <add key="HTMLtoImageConverter" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltoimage.exe"/>
  <add key="AllowUnsignedQVWs" value="true"/>
  <add key="HierarchyDebugFileTemplate" value="DebugFileTemplate/Care_Coordinator_Report.txt"/>
  <add key="hidden_dirs" value="history~ReducedUserQVWs~ReducedCachedQVWs"/>
</appSettings>

