<?xml version="1.0" encoding="utf-8" ?>
<!--PRM2 Settings-->
<appSettings>
  <add key="ProductName" value="PRM_AK"/>
  <add key="AdminEmail" value="PRM.Operations@Milliman.com" />
  <add key="RepoFilePath" value="D:\InstalledApplications\PRM_Staging_AK\Rules\rules.xml" />
  <add key="MillimanGroupMap" value="D:\InstalledApplications\PRM_Staging_AK\GroupMap\Groups.xml" />
  <add key="QVDocumentRoot" value="D:\InstalledApplications\PRM_Staging\QVDocuments" />
  <add key="ResetUserInfoRoot" value="D:\InstalledApplications\PRM_Staging_AK\ResetUsers" />
  <add key="UserSpecificDownloads" value="D:\InstalledApplications\PRM_Staging_AK\CustomUserDownloads\downloads.xml" />
  <add key="HCIntelCache" value="D:\InstalledApplications\PRM_Staging_AK\Cache" />
  <add key="SmtpServer" value="10.50.4.150" />
  <add key="SmtpPort" value="25" />
  <add key="SendDebugEmail" value="true" />
  <add key="EmailDebugAccount" value="prm.operations@milliman.com"/>
  <add key="SupportEmail" value="prm.support@milliman.com" />
  <add key="SupportEmailWelcome" value="Milliman PRM Account Information" />
  <add key="SmtpUserName" value="" />
  <add key="SmtpPassword" value="" />
  <add key="SecureLinkLifeSpan" value="3" />
  <add key="ExternalServerName" value="https://PRM2.Milliman.com" />
  <add key="MaxDocsPerDocumentCAL" value="7" />
  <add key="DocCALCost" value="140.40" />
  <add key="NamedCALCost" value="1000.00" />
  <add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0000EXT01_NewYork_LIVE BPCI - Premier~0000EXT01_NewYork_LIVE BPCI - USPI~0000EXT01_NewYork_LIVE BPCI - CAM" />
  <add key="QVLogDirectory" value="D:\InstalledApplications\PRM_Staging_AK\FULLBackups_Logs\QVLogs" />
  <add key="ShowLoginsForLastXDays" value="60" />
  <add key="SuperGroupFilePath" value="D:\InstalledApplications\PRM_Staging_AK\SuperGroups\SuperGroups.xml" />
  <add key="Telerik.Skin" value="Office2010Silver" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  <!--Allow security code entering. if you want disable then value should be empty string other wise enter any value to enable-->
  <add key="IgnoreCaptchaInput" value="" />
</appSettings>

<!--Local Settings-->
<!--
<appSettings>
<add key="ProductName" value="PRM"/>
<add key="AdminEmail" value="PRM.Operations@Milliman.com" />
<add key="RepoFilePath" value="C:\InstalledApplications\PRM_Staging\Rules\rules.xml" />
<add key="MillimanGroupMap" value="C:\InstalledApplications\PRM_Staging\GroupMap\Groups.xml" />
<add key="QVDocumentRoot" value="C:\InstalledApplications\PRM_Staging\QVDocuments" />
<add key="ResetUserInfoRoot" value="C:\InstalledApplications\PRM_Staging\ResetUsers" />
<add key="UserSpecificDownloads" value="C:\InstalledApplications\PRM_Staging\CustomUserDownloads\downloads.xml" />
<add key="HCIntelCache" value="C:\InstalledApplications\PRM_Staging\Cache" />
<add key="SmtpServer" value="10.50.4.150" />
<add key="SmtpPort" value="25" />
<add key="SendDebugEmail" value="true" />
<add key="EmailDebugAccount" value="prm.operations@milliman.com"/>
<add key="EmailFrom" value="prm.support@milliman.com" />
<add key="SupportEmail" value="prm.support@milliman.com" />
<add key="SupportEmailWelcome" value="Milliman PRM Account Information" />
<add key="EmailSubject" value="Milliman PRM Password Recovery" />
<add key="EmailBodyFile" value="templates/email.html" />
<add key="SmtpUserName" value="" />
<add key="SmtpPassword" value="" />
<add key="SmtpMailPickup" value="C:\InstalledApplications\PRM_Staging\eMailPickup" />
<add key="TrustedMailRelayService" value="" />
<add key="SecureLinkLifeSpan" value="3" />
<add key="ExternalServerName" value="https://PRM2.Milliman.com" />
<add key="MaxDocsPerDocumentCAL" value="7" />
<add key="DocCALCost" value="140.40" />
<add key="NamedCALCost" value="1000.00" />
<add key="StrictReductionRuleGroups" value="0273WOH01_Medicaid_WOAH~0000EXT01_NewYork_LIVE BPCI - Premier~0000EXT01_NewYork_LIVE BPCI - USPI~0000EXT01_NewYork_LIVE BPCI - CAM" />
<add key="QVLogDirectory" value="C:\InstalledApplications\PRM_Staging\FULLBackups_Logs\QVLogs" />
<add key="ShowLoginsForLastXDays" value="60" />
<add key="SuperGroupFilePath" value="C:\InstalledApplications\PRM_Staging\SuperGroups\SuperGroups.xml" />
<add key="Telerik.Skin" value="Office2010Silver" />
<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
<add key="IgnoreCaptchaInput" value="" />
</appSettings>
-->