<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="dbMyCMSConnectionString" 
                connectionString="Server=.\SQLExpress;Database=PortalDB_AK;Trusted_Connection=Yes;User Instance=False;" />-->
  <add name="dbMyCMSConnectionString"
             connectionString="Server=.\SQLExpress;Database=PortalDBSFv2M1;Trusted_Connection=Yes;User Instance=False;" />
</connectionStrings>