<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- To support checking the required config keys, the following sectionGroup and section specifications are needed -->
  <configSections>
    <sectionGroup name="RequiredConfigurationKeys" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
      <section name="ClientPublisher4.1" type="ConfigComparisonGui.NameValueCfgElementSection, ConfigComparisonGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="ClientPublisher4.0" type="ConfigComparisonGui.NameValueCfgElementSection, ConfigComparisonGui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- To support checking the required config keys, which could differ for each version of each product, the following content is where the required keys are to be specified -->
  <!-- The required sectionGroup must use this name RequiredConfigurationKeys -->
  <RequiredConfigurationKeys>
    <!-- By default section names are a concatenation of the product and version property values with whitespace removed. -->
    <!-- This is not required but they do have to be unique. -->
    <ClientPublisher4.1 Product="Client Publisher" Version="4.1">
      <!-- Each section contains an (invisible) ElementCollection. -->
      <!-- Each config element must have a KeyName property with the value being one required key for the enclosing Product/version section -->
      <add KeyName="ServerName41" />
      <add KeyName="NamedCALCost" />
    </ClientPublisher4.1>
    <ClientPublisher4.0 Product="Client Publisher" Version="4.0">
      <add KeyName="ServerName40" />
      <add KeyName="NamedCALCost" />
    </ClientPublisher4.0>
  </RequiredConfigurationKeys>

</configuration>