<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <!--
	##############################################################
		Enterprise Library Settings
	##############################################################
	-->

  <!--CLSConfigurationProductionDaemon App.Config-->
  <configSections>
    <section name="environmentConfiguration" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="test" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <!--<section name="dev" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="stag" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="prod" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />
    <section name="special" type="ConfigIt.KeyValueConfigurationSection, ConfigIt" />-->
  </configSections>

  <environmentConfiguration>
    <elements>
      <!--	application env	-->
      <add key="EnvironmentSetUp" value="test" />
      <!--	typical environments	-->
      <add key="test" value="test" />
      <!--<add key="dev" value="dev" />
      <add key="stag" value="stag" />
      <add key="prod" value="prod" />
      <add key="special" value="special" />-->
    </elements>
  </environmentConfiguration>


  <!--	special -->
  <!--
  <special>
    -->
  <!--*******************************************************************************************-->
  <!--
    <elements>
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config" />
      <add key="FromEmail" value="LabSystemsHandbook@milliman.com" />
      <add key="Subject" value="Lab Systems Handbook Production System Update" />
      <add key="SMTPServer" value="10.50.4.150" />
      <add key="SMTPPort" value="25" />

      -->
  <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
  <!--
      <add key="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
            value="http://staginglabsystemshandbook.milliman.com/ConfigsCLSConfigurationServicesConfigs/CLSConfigurationServices.asmx" />
    </elements>
    -->
  <!--*******************************************************************************************-->
  <!--
  </special>-->

  <!--	test -->
  <test>
    <!--*******************************************************************************************-->
    <elements>
      <add key="ProductionSiteWebConfig" value="C:\Deployments\CLSMedicareReimbursementConfigs\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"   value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>

      <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
      <add key="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
            value="http://localhost/CLSConfigurationServicesConfigs/CLSConfigurationServices.asmx" />
    </elements>
    <!--*******************************************************************************************-->
  </test>

  <!--	dev -->
  <!--
  <dev>
    -->
  <!--*******************************************************************************************-->
  <!--
    <elements>
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config"/>
      <add key="FromEmail"   value="LabSystemsHandbook@milliman.com"/>
      <add key="Subject"    value="Lab Systems Handbook Production System Update"/>
      <add key="SMTPServer" value="10.50.4.150"/>
      <add key="SMTPPort"   value="25"/>

      -->
  <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
  <!--
      <add key="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
            value="http://staginglabsystemshandbook.milliman.com/ConfigsCLSConfigurationServicesConfigs/CLSConfigurationServices.asmx" />
    </elements>
    -->
  <!--*******************************************************************************************-->
  <!--
  </dev>

  -->
  <!--	stag -->
  <!--
  <stag>
    -->
  <!--*******************************************************************************************-->
  <!--
    <elements>
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config" />
      <add key="FromEmail" value="LabSystemsHandbook@milliman.com" />
      <add key="Subject" value="Lab Systems Handbook Production System Update" />
      <add key="SMTPServer" value="10.50.4.150" />
      <add key="SMTPPort" value="25" />

      -->
  <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
  <!--
      <add key="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
            value="http://staginglabsystemshandbook.milliman.com/ConfigsCLSConfigurationServicesConfigs/CLSConfigurationServices.asmx" />
    </elements>
    -->
  <!--*******************************************************************************************-->
  <!--
  </stag>

  -->
  <!--	stag -->
  <!--
  <stag>
    -->
  <!--*******************************************************************************************-->
  <!--
    <elements>
      <add key="ProductionSiteWebConfig" value="E:\InstalledApplications\Beta\web.config" />
      <add key="FromEmail" value="LabSystemsHandbook@milliman.com" />
      <add key="Subject" value="Lab Systems Handbook Production System Update" />
      <add key="SMTPServer" value="10.50.4.150" />
      <add key="SMTPPort" value="25" />

      -->
  <!--DiskSpace: Every report must contain 'DiskDrive' as key-->
  <!--
      <add key="CLSConfiguration_CLSConfigurationServices_CLSConfigurationServices"
            value="http://staginglabsystemshandbook.milliman.com/ConfigsCLSConfigurationServicesConfigs/CLSConfigurationServices.asmx" />
    </elements>
    -->
  <!--*******************************************************************************************-->
  <!--
  </stag>-->

</configuration>