<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--location of sql command processor lives for db backup-->
    <add key="SQLCMD" value="C:\Program Files\Microsoft SQL Server\110\Tools\Binn\SQLCMD.exe"/>
     <!--database to backup using sql command processor-->
    <add key="DatabaseName" value="PortalDBSFv2m1"/>
    <!--location to write database backup-->
    <add key="DatabaseBackupDir" value="DatabaseBackup"/>
    <add key="DatabaseBackupName" value="database"/>
    <!--Cache folder for temporary zip files-->
    <add key="TemporaryBackupCache" value="E:\PRMSystemBackupTemporaryCache"/>
    <!--where on local system should a full backup be located-->
    <add key="CreateBackupInDirectory" value="D:\PRMSystemBackups"/>
    <!--what on the local system should be backuped up PRM directory is everything-->
    <add key="RootDirToBackup" value="D:\InstalledApplications\PRM"/>
    <!--do not include these dirs  seperate dirs with '~'-->
    <add key="ExcludeDirectories" value="PortalDB~Milliman - Copy~DatabaseBackup~Logs"/>
    <!--SMTP parms to send email on status-->
    <add key="SmtpServer" value="10.50.4.150" />
    <add key="SmtpPort" value="25" />
    <add key="StatusEmail" value="van.nanney@milliman.com"/>
    <!--how many days of backups should I hold localy-->
    <add key="RetentionDays" value="2"/>
  </appSettings>

</configuration>