<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Server" value="indy-ss01" />
  <!-- These values will be called from Application -->
  <add key="SMTPServer" value="10.50.4.150"/>
  <add key="FromAddress" value="Afsheen.Khan@milliman.com"/>
  <add key="ErrorToAddress" value="Afsheen.Khan@milliman.com" />

  <add key="CommandTimeout" value="300" />

  <!--Logger-->
  <add key="LoggerFileDirectory" value="\\indy-ss01\LogFileProcessor\LoggerFileDirectory\" />
  <add key="LoggerFileName" value="Logger" />

  <!--ProcessedFileLog-->
  <add key="ProcessedFileLogDirectory" value="\\indy-ss01\LogFileProcessor\BackUp\" />
  <add key="ProcessedFileLogFileName" value="ProcessedFileLog" />

  <!--Filestatus - this is file that provides the file name to be processes-->
  <add key="statusFileName" value="status" />
  <add key="FileStatus" value="\\indy-ss01\ProductionLogsTest\SyncStatus\" />


  <!--MultipleQVDocs: Every report must contain 'qvDocMultipleRoot' as key-->
  <add key="qvDocMultipleRoot1" value="d:\installedapplications\prm\qvdocuments\"/>
  <add key="qvDocMultipleRoot2" value="d:\installedapplications\millimansite\qvdocuments\"/>
  <add key="qvDocMultipleRoot3" value="d:\installedapplications\Test\qvdocuments\"/>

  <!--GetFileSourceLocation - source-->
  <add key="SourceDir" value="\\indy-ss01\ProductionLogsTest\" />
  <add key="IISLogsS" value="\\indy-ss01\ProductionLogsTest\IISLogs\" />
  <add key="MiscLogsS" value="\\indy-ss01\ProductionLogsTest\MiscLogs\" />
  <add key="QVAuditLogsS" value="\\indy-ss01\ProductionLogsTest\QVLogs\" />
  <add key="QVSessionLogsS" value="\\indy-ss01\ProductionLogsTest\QVLogs\" />

  <!--GetFileCopyToDestinationInLocation - In-->
  <add key="ProcessingInDir" value="\\indy-ss01\LogFileProcessor\IN\" />
  <!--<add key="IISLogsIN" value="\\indy-ss01\LogFileProcessor\IN\IISLogs\" />
  <add key="MiscLogsIN" value="\\indy-ss01\LogFileProcessor\MiscLogs\" />
  <add key="QVAuditLogsIN" value="\\indy-ss01\LogFileProcessor\IN\QVLogs\" />
  <add key="QVSessionLogsIN" value="\\indy-ss01\LogFileProcessor\IN\QVLogs\" />-->

  <!--GetFileDestinationBackUpLocation - back up-->
  <!--<add key="BackUpDir" value="\\indy-ss01\LogFileProcessor\BackUp\" />-->
  <!--<add key="IISLogsBU" value="\\indy-ss01\LogFileProcessor\BackUp\IISLogs\" />
  <add key="MiscLogsBU" value="\\indy-ss01\LogFileProcessor\BackUp\MiscLogs\" />
  <add key="QVAuditLogsBU" value="\\indy-ss01\LogFileProcessor\BackUp\QVLogs\" />
  <add key="QVSessionLogsBU" value="\\indy-ss01\LogFileProcessor\BackUp\QVLogs\" />-->

</appSettings>